*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 62.5%; 10px = 1 rem */
    font-family: Inter, sans-serif;
}

ul,
ol {
    list-style: none;
}

p {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}


/* ----------------- HEADER ----------------------------- */

header,
footer {
    color: #FFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    min-width: 700px;
}

header {
    width: 100%;
    min-height: 144px;
    background: #30343F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Raleway;
    padding: 30px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.navbar__link,
footer a {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-left: 8px;
    transition: color 0.2s ease-in-out;
}

.navbar__link:hover,
.submenu__link:hover,
footer a:hover {
    color: #FF3333;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}

.navbar__logo {
    max-width: 370px;
}

.submenu {
    position: absolute;
    background-color: #30343F;
    display: none;
    width: 300px;
    z-index: 3;
}

.submenu__link {
    color: #FAFAFF;
    display: block;
    transition: color 0.2s ease-in-out;
}

.submenu__item {
    display: block;
    padding: 12px 8px;
    padding-right: 16px;
}

.with-submenu:hover .submenu {
    display: block;
}

/* ------------------------ HERO ------------------------ */

.hero {
    background: url(../img/funkos-banner-1.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    display: block;
    color: white;
    font-family: Raleway;
    padding: 128px;
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(0.9);

}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.hero__title {
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 304.008px;
    margin-bottom: 0.8rem;
}

.hero__text {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.hero__link {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: #111;
    background: #FFF;
    border-radius: 50px;
    display: inline-block;
    padding: 12px 68px;
    margin-top: 20px;
    margin-right: 4.5rem;
    width: 211px;
    transition: all 0.2s ease-in-out;
}

.hero__link:hover {
    background: #FF3333;
    color: #FFF;
}

/* ------------------------ COLLECTIONS ------------------------ */

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 16px 0;
}

.collection__title {
    font-family: Raleway;
    font-size: 46px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    width: 441px;
}

.collection__text {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 458px;
    border-bottom: 2px solid #FF3333;
    padding-bottom: 1rem;
}

.collection__link {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #FFF;
    background: #111;
    border-radius: 50px;
    padding: 16px 36px;
    display: inline-block;
    width: 55%;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.collection__link:hover {
    background: #FF3333;
    color: #FFF;
}

.collection__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

.collection:nth-of-type(2) .collection__cover {
    order: -1;
}

/* ---------------------SLIDER ---------------------------- */

.slider {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 10px auto 100px auto;
}

.slider__items {
    display: flex;
    gap: 24px;
    
}

.slider__item{
    width: 300px;
}

.slider__title {
    font-family: Raleway;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    padding: 30px 0;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    align-items: flex-start;
}

.card-item__licence {
    font-weight: 500;
    font-size: 14px;
}

.card-item__name {
    font-weight: 700;
    font-size: 18px;
}

.card-item__price {
    font-weight: 500;
    font-size: 16px;
}

.card-item__promo {
    color: #1D84B5;
    font-size: 12px;
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__img--back {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.card-item__cover img {
    animation: fade 1.7s ease-in-out;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card-item__tag {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #FF3333;
    color: #FFF;
    padding: 4px 8px;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
}

/* ---------------------FOOTER ---------------------------- */

.footer {
    background: #30343F;
    padding: 62px;
}

.navbar__items{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer__copy{
    text-align: center;
    font-size: 20px;
    margin-top: 36px;
}