/* EXTERNALS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Raleway:wght@300&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css");
/* @import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com"); */


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    /* 10px = 1 rem */
    font-size: 62.5%;
    font-family: Inter, sans-serif;
    width: 100%;
}

ul,
ol {
    list-style: none;
}

p {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}


/* ----------------- HEADER ----------------------------- */

header,
footer {
    color: #FFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* min-width: 700px; */
}

header {
    width: 100%;
    min-height: 120px;
    background: #30343F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Raleway;
    padding: 30px;
    /* min-width: 270px; */
    position: relative;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.navbar__link,
footer a {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-left: 8px;
    transition: color 0.2s ease-in-out;
}

.navbar__link:hover,
.submenu__link:hover,
footer a:hover {
    color: #FF3333;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}

.navbar__menu-toogle{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #30343F;
    width: 100%;
    height: 60vh;
    /* margin-right: 10px; */
    margin-top: 120px;
    z-index: 10;
}

.navbar__logo {
    max-width: 370px;
}

.navbar__logo a{
    display: block;
    height: 100%;
}

.navbar__logo img{
    min-width: 200px;
}

.submenu {
    position: absolute;
    background-color: #30343F;
    display: none;
    width: 300px;
    z-index: 3;
}

.submenu__link {
    color: #FAFAFF;
    display: block;
    transition: color 0.2s ease-in-out;
}

.submenu__item {
    display: block;
    padding: 12px 8px;
    padding-right: 16px;
}

.submenu .submenu__item a{
    font-size: 1.5em;
}

.with-submenu:hover .submenu {
    display: block;
}

.menu-icon{
    font-size: 3.2em;
    display: none;
}

.menu-icon:hover{
    color: #FF3333;
    cursor: pointer;
}

.navbar__cart svg path {
    /* fill: #fff;  */
}

.navbar__cart:hover svg path {
    fill: #FF3333; 
}

/* ------------------------ HERO ------------------------ */

.hero {
    background: url(../img/funkos-banner-1.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    display: block;
    color: white;
    font-family: Raleway;
    padding: 128px;
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(2px) brightness(0.9);
    backdrop-filter: blur(2px) brightness(0.9);

}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.hero__title {
    color: #FFF;
    font-size: 3.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 304.008px;
    margin-bottom: 0.8rem;
}

.hero__text {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.hero__link {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: #111;
    background: #FFF;
    border-radius: 50px;
    display: inline-block;
    padding: 12px 68px;
    margin-top: 20px;
    margin-right: 4.5rem;
    width: 211px;
    transition: all 0.2s ease-in-out;
}

.hero__link:hover {
    background: #FF3333;
    color: #FFF;
}

/* ------------------------ COLLECTIONS ------------------------ */

.main-container {
    background: #FAFAFF;
    padding: 40px 0 0px 10px;
    /* margin-left: 30px; */
}

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 16px 0;
    /* margin-top: 50px; */
}

.collection__title {
    font-family: Raleway;
    font-size: 46px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    width: 441px;
}

.collection__text {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 458px;
    border-bottom: 2px solid #FF3333;
    padding-bottom: 1rem;
    text-wrap: balance;
}

.collection__link {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #FFF;
    background: #111;
    border-radius: 50px;
    padding: 16px 36px;
    display: inline-block;
    width: 55%;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.collection__link:hover {
    background: #FF3333;
    color: #FFF;
}

.collection__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

.collection:nth-of-type(2) .collection__cover {
    order: -1;
}

/* ---------------------SLIDER ---------------------------- */

.slider {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 10px auto 50px auto; 
}

.slider__items {
    /* display: flex; 
    gap: 24px; */
     /* margin: 0px 120px;  */
    
}

.slider__title {
    font-family: Raleway;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    padding: 30px 0;
    text-wrap: balance;
}

.card-item {
    min-width: 230px;
    max-width: 280px;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    align-items: flex-start;
}

.card-item__licence {
    font-weight: 500;
    font-size: 14px;
}

.card-item__name {
    font-weight: 700;
    font-size: 18px;
}

.card-item__price {
    font-weight: 500;
    font-size: 16px;
}

.card-item__promo {
    color: #1D84B5;
    font-size: 12px;
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__img--back {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.card-item__cover img {
    animation: fade 1.7s ease-in-out;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card-item__tag {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #FF3333;
    color: #FFF;
    padding: 4px 8px;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
}

.arrows{
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
}

.glide__arrow--left {
    left: -15px;
}


@media screen and (max-width: 711px) {
    .glide__arrow--right {
        /* right:calc(50% - 20px); */
        right: calc(100% - 330px);
    }
}
    

/* ---------------------FOOTER ---------------------------- */

.footer {
    background: #30343F;
    padding: 62px;
}

.navbar__items {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer__copy {
    text-align: center;
    font-size: 20px;
    margin-top: 36px;
}

/* ---------------------MEDIA QUERIES ---------------------------- */

@media (max-width: 890px) {
    .menu-icon{
        display: block;
    }
    .navbar__menu{
        display: none;
    }
    header{
        padding: 10px;
    }
    
    .collection {
        grid-template-columns: 1fr;
    }

    .collection:nth-of-type(2) .collection__cover {
        order: 2;
    }

    .collection__cover {
        width: 70%;
        margin: 0 auto;
    }

    .collection__content {
        align-items: center;
    }

    .collection__title {
        text-align: center;
        width: 100%;
    }

    .collection__text {
        text-align: center;
        width: 100%;
    }

}


@media screen and (max-width: 460px) {
    .navbar__menu-toggle{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 5px;
    }
    header{
        padding: 0;
        min-height: 130px;
    }
    .navbar{
        margin: 0px 10px;
    }
    .navbar__logo img{
        margin-top: 10px;
    }
}

@media screen and (max-width: 440px) {
    .navbar__logo img{
        min-width: 150px;
    }
    
    .hero__title {
        font-size: 2.8em;
        width: 100%;
    }

    .hero__link {
        margin-right: 0;
        width: 100%;
        text-align: center;
        padding: 12px 0;
        min-width: 100px;
    }

    .collection__title {
        font-size: 2.4em;
        width: 100%;
        text-wrap: balance;
        font-weight: 500px;
        font-weight: bold;
        text-align: justify;
        vertical-align: bottom;
    }

    .collection__content {
        align-items: center;
        
    }

    .collection__title {
        text-align: center;
        width: 100%;
    }

    .collection__text {
        text-align: center;
        width: 100%;
        font-size: 1.9em;
    }
    .collection__link{
        font-size: 1.5em;
        padding: 2px;
    }
    .slider__title{
        font-size: 2.9em;
        width: 100%;
        text-wrap: balance;
        font-weight: 500px;
        font-weight: bold;
        text-align: center;
        vertical-align: bottom;
    }
    .navbar__link{
        font-size: 1.5em;
    }
    .footer{
        padding: 70px;
    }
    .footer__copy{
        font-size: 1.2em;
    }
    .footer .navbar{
        flex-direction: column;
        align-items: center;
    }
    .footer .navbar img{
        margin: 20px auto;
    }
    .footer picture{
        width: 100px;
    }
}


