

/* -----------------SHOP MAIN-------------------------------- */

.shop__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 2rem;
}

.shop__main {
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
}

.custom-select {
    position: relative;
    margin-top: 15px;
}

.custom-select select {
    width: 205px;
    line-height: 2;
    padding: 3px;
    background-color: #fff;
    height: 35px;
}

.custom-select::before {
    content: "Mayor a menor";
    position: absolute;
    top: 0;
    left: 0;
    color: #888;
    pointer-events: none;
    line-height: 2.2;
    margin-left: 8px;
    font-weight: 300;
}

input,
select {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2.3px solid #000000;
    width: 30px;
}

.precio div {
    display: inline-flex;
    padding-top: 10px;
}

.shop__aside {
    display: inline-flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: start;
    margin-right: 10px;
    margin-top: 30px;
}

.aside__input {
    padding: 16px;
}

.aside__input .precio input {
    margin-top: 10px;
}

.aside__input:first-of-type input {
    width: 155px;
    line-height: 1.6;
    text-align: start;
    width: 206px;
    margin-top: 10px;
}

.aside__input:first-of-type ::placeholder {
    color: #888;
    font-size: 15px;
    font-weight: 300;
    margin-top: 4px;
    line-height: 1.9;
    margin-right: 16px;
    padding-left: 5px;
}

.aside__input:last-of-type div {
    display: flex;
    flex-direction: row;
    line-height: 1.5;
}

.precio {
    display: flex;
    flex-direction: row;
}

.label_precio-min-max {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
    margin-right: 5px;
    margin-top: 13px;
}

.precio :nth-child(2) label {
    margin-left: 9px;
}

.label {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
    margin-bottom: 20px;
}

.checkbox {
    margin-top: 10px;
}

.checkbox__label-text {
    font-size: 18px;
}

.checkbox-input {
    margin-bottom: 5px;
    margin-left: 7px;
}

.input-field {
    line-height: 1.4;
    width: 40px;
}

.precio input::placeholder {
    text-align: center;
}

.cards li {
    margin-right: 20px;
}

.card div:first-of-type {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: #fff;
    text-align: right;
    padding-right: 10px;
}

.card div:first-of-type p {
    background: #FF3333;
    display: inline;
    padding: 3px;
}

.cards {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    gap: 24px;
}



/* ----------------- PAGINACION ----------------------------- */

.pagination {
    margin: 40px 0px 40px 350px;
    text-align: center;
}

.pagination ul {
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline-block;
    /* margin-right: 5px; */
    text-align: center;
    line-height: 20px;
    width: 44px;
    height: 44px;
}

.pagination a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid #b0b1b6;
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

}

.pag__ul {
    list-style: none;
    padding: 0;
    display: inline;
}

/* ----------------- FOOTER ----------------------------- */

footer {
    width: 100%;
    background: #30343F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #FAFAFF;
    text-decoration: none;
    list-style: none;
    padding: 2em;
    line-height: 23.4px;
}

.footer__links {
    margin-right: 800px;
    padding: 20px;
    margin-left: 35px;
}

.footer__logo {
    padding: 60px;
    margin-right: 25px;
}

footer li {
    list-style: none;
    line-height: 1;
    margin-top: 10px 0 0 0;
}

.footer__copy {
    margin: 0 auto;
}

footer nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer section {
    width: 95%;
}

footer picture {
    margin-top: 25px;
}

footer p:last-of-type {
    margin: 5px auto;
}

footer ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 100px;
    margin-left: 120px;
    align-items: center;
    gap: 1.5rem;
}