/* -----------------SHOP MAIN-------------------------------- */

.shop__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 2rem;
}

.shop__main {
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
}

.custom-select {
    position: relative;
    margin-top: 15px;
    font-size: 1.5em;
}

.custom-select select {
    width: 240px;
    line-height: 2;
    padding: 5px;
    background-color: #fff;
    height: 35px;
    padding-left: 7px;
}

.custom-select::before {
    content: "Mayor a menor";
    position: absolute;
    top: 0;
    left: 0;
    color: #888;
    pointer-events: none;
    line-height: 2.2;
    margin-left: 8px;
    font-weight: 300;
    padding-left: 6px;
}

.custom-select.option-selected::before {
    content: "";
}

input,
select {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2.3px solid #000000;
    width: 30px;
}

.precio div {
    display: inline-flex;
    padding-top: 10px;
    align-items: center;
}

.shop__aside {
    display: inline-flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: start;
    margin-top: 30px;
}

.aside__input {
    padding: 16px;
    padding-right: 0px;
}

.aside__input .precio input {
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
}

#min-price {
    width: 60px;
}

#max-price {
    width: 90px;
}

.aside__input:first-of-type input {
    line-height: 1.6;
    width: 240px;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    padding-left: 7px;
}

.aside__input:first-of-type ::placeholder {
    color: #888;
    font-size: 15px;
    font-weight: 300;
    margin-top: 4px;
    line-height: 1.9;
    margin-right: 16px;
    padding-left: 5px;
}

.aside__input:last-of-type div {
    display: flex;
    flex-direction: row;
    line-height: 1.5;
}

.precio {
    display: flex;
    flex-direction: row;
}

.label_precio-min-max {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
    margin-right: 5px;
    margin-top: 13px;
}

.precio :nth-child(2) label {
    margin-left: 1px;
}

.label {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
    margin-bottom: 20px;
}

.checkbox {
    margin-top: 10px;
}

.checkbox__label-text {
    font-size: 18px;
}

.checkbox-input {
    margin-bottom: 5px;
    margin-left: 7px;
}

.input-field {
    line-height: 1.4;
    width: 40px;
}

.precio input::placeholder {
    text-align: center;
}

.card div:first-of-type {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: #fff;
    text-align: right;
    padding-right: 10px;
}

.card div:first-of-type p {
    background: #FF3333;
    display: inline;
    padding: 3px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;
    margin-left: 60px;
}

/* ----------------- PAGINACION ----------------------------- */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pag__ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.page-link {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.page-link.active {
    background-color: #333;
    color: #fff;
}

#previous-page,
#next-page {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#previous-page:hover,
#next-page:hover {
    background-color: #f0f0f0;
}

#previous-page.disabled,
#next-page.disabled {
    cursor: not-allowed;
    background-color: #ccc;
    color: #888;
}


/* ----------------- MEDIA QUERIES ----------------------------- */

@media screen and (max-width: 920px) {
    .shop__container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .shop__aside {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
    }

}

@media screen and (max-width: 552px) {
    .shop__aside {
        flex-direction: column;
    }
}

@media screen and (max-width: 530px) {
    .label {
        font-size: calc(1.5rem + 0.5vw);
    }

    .shop__aside {
        margin: 0;
        margin-left: 30px;
    }

    .custom-select, #buscar {
        margin-top: 0px;
    }

    .precio div{
        padding-top: 5px;
    }

    .aside__input {
        padding: 5px;
    }

    .aside__input .precio input {
        margin-top: 0px;
    }

    .label_precio-min-max {
        margin-left: 16px;
    }

    .aside__input-buscar {
        padding: 8px;
    }

    .aside__input:first-of-type input {
        line-height: 1.5em;
        font-size: calc(0.8rem + 0.5vw);
        padding: 5px;
    }

    .checkbox__label-text {
        font-size: calc(0.8rem + 0.5vw);
    }

    .shop__container {
        display: flex;
        flex-direction: column;
    }

    .cards {
        justify-content: flex-start;
        margin-left: 0;
    }
}

@media screen and (max-width: 292px) {
    .aside__input:first-of-type input {
        width: 70vw;
    }

    .custom-select select {
        width: 70vw;
    }

    .aside__input .precio {
        display: flex;
        flex-direction: column;
    }
}