<main class="main">
    <h1 class="h1">INGRESAR</h1>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-box">
            <label class="form-label" for="email">Correo electrónico</label>
            <input id="email" class="form-input" type="email" formControlName="email" autocomplete="username"
                placeholder="Tu correo electrónico" required>
            <span class="form-error" *ngIf="validate('email', 'required')">Campo obligatorio</span>
            <span class="form-error" *ngIf="validate('email', 'email')">Fomato inválido</span>
            <span class="form-error" *ngIf="!isCorrect">Correo y/o contraseña incorrectos</span>
        </div>

        <div class="form-box">
            <label class="form-label" for="password">Contraseña</label>
            <input id="password" class="form-input" type="password" formControlName="password"
                autocomplete="current-password" placeholder="Tu contraseña" required>
            <span class="form-error" *ngIf="validate('password', 'required')">Campo obligatorio</span>
            <span class="form-error" *ngIf="validate('password', 'minlength')">Mínimo 6 caracteres</span>
            <span class="form-error" *ngIf="!isCorrect">Correo y/o contraseña incorrectos</span>
        </div>

        <div class="form-box-login">
            <input class="button" type="submit" value="INICIAR SESIÓN">
            <div class="form-message">
                <p>¿Olvidó su contraseña?</p>
                <a (click)="resetPassword()">Click aquí</a>
            </div>
            <div class="form-message">
                <p>¿No está registrado?</p>
                <a [routerLink]="['/register/reg']" (click)="scrollToTop()">Click aquí</a>
            </div>
        </div>

        <ng-container *ngIf="dataLoaded; else loading"></ng-container>
    </form>

    <ng-template #loading>
        <div class="loading">
            <img class="spinner" src="../../../../assets/img/spinner.svg" alt="Loading spinner">
        </div>
    </ng-template>
</main>