.cart-main {
    display: grid;
    flex-direction: column;
    margin: var(--spacing-20);
}

@media screen and (min-width: 768px) {
    .cart-main {
        margin: var(--spacing-68);
    }
}

.cart-h1 {
    font-size: var(--font-large);
    text-align: center;
    margin-bottom: var(--spacing-28);
}

@media screen and (min-width: 768px) {
    .cart-h1 {
        font-size: var(--font-jumbo);
    }
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
}

.cart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-20);
    padding: var(--spacing-30);
    border: .2rem solid var(--primary-solid);
    border-radius: .5rem;
}

@media screen and (min-width: 992px) {
    .cart-item {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    }
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .cart-item-info {
        flex-direction: row;
    }
}

.cart-item-picture {
    width: 15rem;
    height: 15rem;
}

.cart-item-picture img {
    width: 100%;
    object-fit: contain;
}

.cart-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-10);
    padding: var(--spacing-20);
}

@media screen and (min-width: 992px) {
    .cart-item-content {
        width: 25vw;
        align-items: flex-start;
    }
}

.cart-item-license {
    font-size: var(--font-xsmall);
    font-weight: 500;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .cart-item-license {
        font-size: var(--font-small);
        align-self: flex-start;
    }
}

.cart-item-name {
    font-size: var(--font-small);
    font-weight: 1000;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .cart-item-name {
        font-size: var(--font-medium);
        align-self: flex-start;
    }
}

.cart-item-serie {
    font-size: var(--font-xsmall);
    font-weight: 500;
    align-self: center;
}

@media screen and (min-width: 992px) {
    .cart-item-serie {
        font-size: var(--font-small);
        align-self: flex-start;
    }
}

.cart-item-quantity {
    display: flex;
    gap: var(--spacing-10);
}

.cart-item-input {
    width: 5rem;
    height: 5rem;
    font-size: var(--font-small);
    border: .2rem solid var(--dark-bg-solid);
    border-radius: .5rem;
    text-align: center;
}

.cart-item-quantity-btns {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
}

.cart-item-quantity-btn {
    height: calc(5rem - var(--spacing-10));
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-xsmall);
    transition: background .2s ease-in-out;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

.cart-item-quantity-btn:hover {
    background-color: var(--secondary-solid);
}

.cart-total-price {
    font-size: var(--font-large);
    font-weight: 500;
}

@media screen and (min-width: 992px) {
    .cart-total-price {
        width: 10vw;
        text-align: end;
    }
}

.cart-item-confirm,
.cart-item-delete {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: var(--spacing-10);
}

.cart-resumen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-20);
    margin: var(--spacing-20) auto;
}

@media screen and (min-width: 768px) {
    .cart-resumen {
        width: 50%;
        margin: var(--spacing-20) auto;
    }
}

@media screen and (min-width: 992px) {
    .cart-resumen {
        justify-self: flex-end;
        margin: var(--spacing-20) 0;
    }
}

.cart-resumen-title {
    font-size: var(--font-medium);
    font-weight: 500;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cart-resumen-title {
        font-size: var(--font-large);
    }
}

.cart-resumen-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
    padding: var(--spacing-30);
    border: .2rem solid var(--primary-solid);
    border-radius: .5rem;
}

.cart-resumen-line {
    font-size: var(--font-small);
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-20);

}

.cart-resumen-line:nth-of-type(4) {
    border-top: .2rem solid var(--primary-solid);
    padding-top: 1rem;
}

.cart-pay-btn {
    align-self: center;
    max-width: 50%;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-small);
    transition: background .2s ease-in-out;
    padding: var(--spacing-10) var(--spacing-20);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .cart-pay-btn {
        font-size: var(--font-medium);
    }
}

.cart-pay-btn:hover {
    background-color: var(--secondary-solid);
}