.cart-main {
    display: grid;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    border: .2rem solid var(--primary);
    border-radius: .5rem;
}

@media screen and (min-width: 992px) {
    .cart-item {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    }
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .cart-item-info {
        flex-direction: row;
    }
}

.cart-item-picture {
    width: 15rem;
    height: 15rem;
}

.cart-item-picture img {
    width: 100%;
    object-fit: contain;
}

.cart-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

@media screen and (min-width: 992px) {
    .cart-item-content {
        width: 25vw;
        align-items: flex-start;
    }
}

.cart-item-name {
    font-size: var(--font-medium);
    font-weight: 1000;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .cart-item-name {
        font-size: var(--font-large);
        align-self: flex-start;
    }
}

.cart-item-serie {
    font-size: var(--font-small);
    font-weight: 500;
    align-self: center;
}

@media screen and (min-width: 992px) {
    .cart-item-serie {
        font-size: var(--font-medium);
        align-self: flex-start;
    }
}

.cart-item-license {
    font-size: var(--font-xsmall);
    font-weight: 500;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .cart-item-license {
        font-size: var(--font-small);
        align-self: flex-start;
    }
}

.cart-total-price {
    font-size: var(--font-medium);
    font-weight: 500;
    margin-top: 3rem;
}

@media screen and (min-width: 768px) {
    .cart-total-price {
        font-size: var(--font-large);
    }
}

@media screen and (min-width: 992px) {
    .cart-total-price {
        width: 10vw;
        text-align: end;
        margin-top: 0;
    }
}

.cart-item-delete {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 1rem;
}

.cart-resumen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem auto;
}

@media screen and (min-width: 768px) {
    .cart-resumen {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .cart-resumen {
        justify-self: flex-end;
        margin: 2rem 0;
    }
}

.cart-resumen-title {
    font-size: var(--font-medium);
    font-weight: 500;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cart-resumen-title {
        font-size: var(--font-large);
    }
}

.cart-resumen-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    border: .2rem solid var(--primary);
    border-radius: .5rem;
}

.cart-resumen-line {
    font-size: var(--font-xsmall);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .cart-resumen-line {
        font-size: var(--font-small);
    }
}

.cart-resumen-line:nth-of-type(4) {
    border-top: .2rem solid var(--primary);
    padding-top: 1rem;
}

.cart-pay-btn {
    align-self: center;
    max-width: 50%;
}