
header {
    width: 100%;
    min-height: 120px;
    background: var(--dark-bg-solid);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--alternative-font);
    padding: 30px;
    position: relative;
    min-width: 180px;
}

.navbar__menu-toogle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--dark-bg-solid);
    width: 100%;
    height: 35vh;
    margin-top: 120px;
    z-index: 10;
}

.navbar__logo {
    max-width: 370px;
}

.navbar__logo a{
    display: block;
    height: 100%;
}

.navbar__logo img{
    min-width: 200px;
}

.submenu {
    position: absolute;
    background-color: var(--dark-bg-solid);
    display: none;
    width: 300px;
    z-index: 3;
}

.submenu__link {
    color: var(--light-font-solid);
    display: block;
    transition: color 0.2s ease-in-out;
}

.navbar__link:hover,
.submenu__link:hover,
footer a:hover {
    color: var(--primary-solid);
    cursor: pointer;
}

.submenu__item {
    display: block;
    padding: 12px 8px;
    padding-right: 16px;
}

.submenu .submenu__item a{
    font-size: var(--font-xsmall);
}

.with-submenu:hover .submenu {
    display: block;
}

.menu-icon{
    font-size: 3.2em;
    display: none;
}

.menu-icon:hover{
    color: var(--primary-solid);
    cursor: pointer;
    
}

.navbar__cart:hover svg path {
    fill: var(--primary-solid); 
}

.chevron-icon-mask{
    mask: url("../../../../assets/img/icons/icons8-chevron.png");
}


.chevron-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: white;
    -webkit-mask-size: cover;
    mask-size: cover;
    mask-size: cover;
}

.chevron-icon:hover{
    background: var(--primary-solid);
}

.navbar__item span{
    color: white;
}

 li.navbar__item{
    color: var(--light-font-solid);
    font-family: var(--alternative-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-left: 8px;
    transition: color 0.2s ease-in-out;
} 

@media (max-width: 980px) {
    .menu-icon{
        display: block;
    }
    .navbar__menu{
        display: none;
    }
    header{
        padding: 10px;
    }
}

@media screen and (max-width: 460px) {
    .navbar__menu-toggle{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 5px;
    }
    header{
        padding: 0;
        min-height: 130px;
    }
    .navbar{
        margin: 0px 10px;
    }
    .navbar__logo img{
        margin-top: 10px;
    }
}

@media screen and (max-width: 440px) {
    .navbar__logo img{
        min-width: 150px;
    }
    .navbar__link{
        font-size: 1.5em;
    }
}