.header-container {
    max-width: 100vw;
    background-color: var(--dark-bg);
    color: var(--ligth-font);
    font-family: var(--alternative-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 576px) {
    .header-container {
        flex-direction: row;
        height: 20vh;
    }
}

.header-logo {
    padding: 3rem;
}

@media screen and (min-width: 768px) {
    .header-logo {
        max-width: 50%;
    }
}

.header-logo img {
    width: 100%;
}

.header-navbar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.header-navbar-menu {
    display: none;
}

@media (min-width: 992px) {
    .header-navbar-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}

@media (min-width: 992px) {
    .header-navbar-menu-admin {
        margin-right: 3rem;
    }
}

.header-navbar-item {
    font-size: var(--font-medium);
    font-weight: 500;
    text-align: center;
}

.header-navbar-link {
    transition: color .2s ease-in-out;
    cursor: pointer;
}

.header-navbar-link:hover {
    color: var(--primary);
}

.header-navbar-dropdown-menu {
    position: absolute;
    top: 100%;
    width: 100vw;
    background: var(--dark-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0;
    padding: 3rem;
    z-index: 10;
}

@media screen and (min-width: 768px) {
    .header-navbar-dropdown-menu {
        width: 50vw;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    .header-cart {
        margin-right: 3rem;
    }
}

.header-cart:hover svg path {
    fill: var(--primary);
}

.header-hamb-icon {
    display: block;
    font-size: var(--font-xlarge);
    margin: 2rem;
}

@media (min-width: 992px) {
    .header-hamb-icon {
        display: none;
    }
}

.header-hamb-icon:hover {
    color: var(--primary);
    cursor: pointer;
}