.about-us-container {
    display: grid;
    grid-template-areas:
    "text text"
    "img1 img2";
}

@media screen and (min-width: 992px) {
    .about-us-container {
        grid-template-areas:
        "img1 text img2";
    }   
}

.about-us-picture img {
    width: 100%;
    height: 100%;
    max-height: 75vh;
    object-fit: contain;
}

.img-1 {
    grid-area: img1;
}

.img-2 {
    grid-area: img2;
}

.about-us-text {
    grid-area: text;
    font-size: var(--font-small);
    text-align: justify;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .about-us-text {
        font-size: var(--font-medium);
    }
}

.about-us-text p {
    margin-bottom: 1rem;
}