<main class="main">
    <h1 class="h1">SOBRE NOSOTROS</h1>

    <div class="about-us-container">
        <picture class="about-us-picture">
            <img src="../../../../assets/img/funko-messi.png">
        </picture>

        <div class="about-us-text">
            <p>¡Bienvenidos a nuestra tienda mágica de Funkos, donde la fantasía y la programación se fusionan en un
                proyecto épico! Somos dos estudiantes apasionados por el mundo de los códigos y las figuritas
                coleccionables. En este espacio digital, te invitamos a explorar una galaxia de Funkos inspirados en tus
                universos favoritos: Señor de los Anillos, Harry Potter, Star Wars y Pokémon.</p>
            <p>Como artesanos de la programación, hemos conjurado un hechizo de líneas de código para dar vida a esta
                tienda
                única. Nuestro equipo, cual Comunidad del Anillo moderna, ha unido fuerzas para traerte una experiencia
                de
                compra mágica, donde cada clic es como abrir una puerta a un nuevo reino de diversión y coleccionismo.
            </p>
            <p>Desde Funkos que emulan las varitas de los magos de Hogwarts hasta figuras que capturan la esencia de la
                Fuerza, nuestro catálogo es tan diverso como los mundos que amamos. ¡Descubre la magia de coleccionar
                con
                nosotros y lleva a casa a tus personajes favoritos en forma de Funkos programados con cariño!</p>
            <p>Acompáñanos en esta aventura geek y encuentra el Funko perfecto para completar tu colección. ¡Que la
                programación te guíe en esta búsqueda de tesoros coleccionables!</p>
        </div>
    </div>
</main>