<main class="main">
    <h1 class="h1">SOBRE NOSOTROS</h1>

    <div class="about-us-container">
        <div class="about-us-text">
            <p>¡Bienvenidos a nuestra tienda mágica de Funkos, donde la fantasía y la programación se fusionan en un
                proyecto épico! Somos dos estudiantes apasionados por el mundo de los códigos y las figuritas
                coleccionables.</p>
            <p>Como artesanos de la programación, hemos conjurado un hechizo de líneas de código para dar vida a esta
                tienda
                única. Nuestro equipo, cual Comunidad del Anillo moderna, ha unido fuerzas para traerte una experiencia
                de
                compra mágica, donde cada clic es como abrir una puerta a un nuevo reino de diversión y coleccionismo.
            </p>
            <p>Acompáñanos en esta aventura geek y encuentra el Funko perfecto para completar tu colección. ¡Que la
                programación te guíe en esta búsqueda de tesoros coleccionables!</p>
        </div>

        <picture class="about-us-picture img-1">
            <img src="../../../../assets/img/funko-fede.png">
        </picture>

        <picture class="about-us-picture img-2">
            <img src="../../../../assets/img/funko-mari.png">
        </picture>
    </div>
</main>