.about-us-main {
    margin: var(--spacing-20);
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .about-us-main {
        margin: var(--spacing-68);
    }
}

.about-us-h1 {
    font-size: var(--font-large);
    text-align: center;
    margin: 0;
    margin-bottom: var(--spacing-28);
}

@media screen and (min-width: 768px) {
    .about-us-h1 {
        font-size: var(--font-jumbo);
    }
}

.about-us-container {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacing-50);
}

@media screen and (min-width: 992px) {
    .about-us-container {
        flex-direction: row;
        align-items: center;
    }
}

.about-us-text {
    font-size: var(--font-small);
    text-align: justify;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .about-us-text {
        font-size: var(--font-medium);
    }
}

.about-us-text p {
    margin-bottom: var(--spacing-8);
}

.about-us-picture {
    height: 75vh;
}

@media screen and (min-width: 992px) {
    .about-us-picture {
        min-width: 25vw;
    }
}

.about-us-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}