body {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 144px;
    background: #30343F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 3em;
}

nav a,
footer a {
    text-decoration: none;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

nav,
footer a {
    text-decoration: none;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

nav li,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: #FAFAFF;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul svg {
    width: 13px;
    height: 10px;
    margin-top: 16px;
    margin-left: 4px;
}

.cart {
    margin-top: 60px;
}

.cart img {
    width: 33px;
    height: 31px;
    flex-shrink: 0;
}

/* ------------------------------------------------- */

main {
    width: 100%;
    background: #FAFAFF;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

.custom-select {
    position: relative;
    ;
}

.custom-select select {
    width: 205px;
    line-height: 2;
    padding: 3px;
    background-color: #f9f9f9;
    height: 30px;
}

.custom-select::before {
    content: "Mayor a menor";
    position: absolute;
    top: 0;
    left: 0;
    color: #888;
    pointer-events: none;
    line-height: 2;
    margin-left: 44px;
    font-weight: 300;
}

input,
select {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #30343F;
    width: 30px;
}

.precio div {
    /* padding: 10px; */
    display: inline-flex;
    padding-top: 10px;
}

aside {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    align-items: start;
    margin-right: 30px;
    margin-top: 20px;
   
}

.aside__input {
    padding: 10px;
    /* width: 250px; */
}


.aside__input:first-of-type input {
    width: 155px;
    line-height: 1.7;
    text-align: center;
    padding-top: 5px;
    width: 200px;
}

.aside__input:first-of-type ::placeholder {
    color: #888;
    font-size: 14px;
    font-weight: 300;
    margin-top: 4px !important;
    line-height: 2;
    margin-right: 18px;
}

.aside__input:last-of-type div {
    display: flex;
    flex-direction: row;
    line-height: 1.5;
}

.precio {
    display: flex;
    flex-direction: row;
    /* display: inline-block; */
}

.label_precio-min-max {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
    margin-right: 5px;
}

.precio :nth-child(2) label {
    margin-left: 9px;
}

.label {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
}

.input-field {
    line-height: 1.4;
    width: 53px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.card div:first-of-type {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: #fff;
    text-align: right;
    padding-right: 10px;
}

.card div:first-of-type p {
    background: #FF3333;
    display: inline;
    padding: 3px;
}

.cards {
    margin-top: 35px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card p:nth-child(2),
.card p:nth-child(3),
.card p:nth-child(4),
.card p:nth-child(5),
.card p:nth-child(6) {
    margin: 9px;
}

.card p:nth-child(4) {
    font-weight: bold;
}

.card p:nth-child(6) {
    color: #1D84B5;
    font-size: 13px;
}

.card img {
    width: 304px;
    height: 352px;
}

/* ---------------------------------------------- */

footer {
    width: 100%;
    background: #30343F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__links {
    margin-right: 800px;
    padding: 20px;
    margin-left: 35px;
}

.footer__logo {
    padding: 60px;
    margin-right: 25px;
}

footer li {
    list-style: none;
    line-height: 2;
}

.footer__copy {
    margin: 0 auto;
}