body {
    margin: 0;

}

header {
    width: 100%;
    min-height: 144px;
    /* flex-shrink: 0; */
    background: #30343F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    /* width: 372px; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
    /* margin-right: 500px; */
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* alih-items: center; */
    margin-right: 3em;
}

/* todos los a tanto del footer como del nav */

nav a,
footer a {
    text-decoration: none;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

nav,
footer a {
    text-decoration: none;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

nav li,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: #FAFAFF;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul svg {
    width: 13px;
    /* Cambia el ancho según sea necesario */
    height: 10px;
    /* Cambia la altura según sea necesario */
    margin-top: 16px;
    margin-left: 4px;
    /* Cambia el color del ícono si es necesario */
}

.cart {
    margin-top: 60px;
}

.cart img {
    width: 33px;
    height: 31px;
    flex-shrink: 0;
}

/* ------------------------------------------------- */

main {
    width: 100%;
    /* min-height: 100vh; */
    background: #FAFAFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.custom-select {
    position: relative;
    /* display: inline-block; */
}

.custom-select select {
    /* Oculta la apariencia predeterminada del select */
    width: 160px;
    line-height: 2;
    /* font-size: 20px; */
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    padding: 3px;
    background-color: #f9f9f9;
}

.custom-select::before {
    content: "Selecciona una opción";
    /* Texto del placeholder */
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 10px; */
    color: #888;
    /* Color del texto del placeholder */
    pointer-events: none;
    /* Evita que el pseudo-elemento sea interactivo */
}

input,
select {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #30343F;
    width: 30px;
    
}

.precio div{
    padding: 10px;
}

.precio input{
    width: 30px;
}

aside {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    margin-left: 40px;
    /* margin-top: 20px; */
    align-items: start;
    margin-right: 30px;
    margin-top: 20px;
}

.aside__input{
    padding: 10px;
}

.aside__input:first-of-type input{
    width: 155px;
    line-height: 1.5;
}

.aside__input:last-of-type div{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: 155px; */
    line-height: 1.5;
}

.precio {
    display: flex;
    flex-direction: row;
    /* display: inline-block; */
}

.label_precio-min-max {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
}

.label {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
}



/* ---------------------------------------------- */

footer {
    width: 100%;
    /* min-height: 140px; */

    background: #30343F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__links {
    margin-right: 800px;
    padding: 20px;
    margin-left: 35px;
}

.footer__logo {
    padding: 60px;
    margin-right: 25px;
}

footer li {
    list-style: none;
    line-height: 2;
}

.footer__copy {
    margin: 0 auto;
}