<main>
    <h1>TÉRMINOS Y CONDICIONES DE USO</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iusto esse doloribus dicta natus atque laboriosam
        fuga vero neque. Perspiciatis cum maiores maxime ex eligendi sed, asperiores reprehenderit ducimus fugiat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iusto esse doloribus dicta natus atque laboriosam
        fuga vero neque. Perspiciatis cum maiores maxime ex eligendi sed, asperiores reprehenderit ducimus fugiat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iusto esse doloribus dicta natus atque laboriosam
        fuga vero neque. Perspiciatis cum maiores maxime ex eligendi sed, asperiores reprehenderit ducimus fugiat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iusto esse doloribus dicta natus atque laboriosam
        fuga vero neque. Perspiciatis cum maiores maxime ex eligendi sed, asperiores reprehenderit ducimus fugiat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iusto esse doloribus dicta natus atque laboriosam
        fuga vero neque. Perspiciatis cum maiores maxime ex eligendi sed, asperiores reprehenderit ducimus fugiat.</p>
</main>