.cart__items .title {
    font-family: Raleway;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 4px solid #FF3333;
    margin-top: 100px;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-flex;
    flex-direction: column;
}

main {
    margin-right: 5em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
}

.cart__items-header {
    margin-top: 30px;
    /* margin-left: 4em; */
    max-width: 1300px;
}

.cart__items-header ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border: 2px solid #dcd5d586;
    max-width: 1500px;
    height: 51px;
    top: 394.15px;
    left: 110px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FAFAFF;
    ;
}

.cart__items-header ul li:nth-of-type(2) {
    padding-left: 160px;
}

.cart__items-header ul li:nth-of-type(3) {
    padding-right: 150px;
}

.cart__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-left: 4em; */
    max-width: 1300px;
}

.item__container {
    width: 410px;
    height: 118px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 30px;
    max-width: 1300px;
    border: 2px solid #dcd5d586;
    border-radius: 10px;
    padding-top: 5px;
    align-items: center;
    background: #FAFAFF;

}

.cart__item-picture {
    width: 200px;
}

.cart__item-picture img {
    width: 100%;
    object-fit: cover;
}

.cart__item .item__container .item__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
    gap: 0;
    width: 380px;
    padding: 0;
    margin-bottom: 20px;
}

.item__container .item__info .card-item__licence {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
}

.item__container .item__info .card-item__name {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.item__container .item__info .card-item__price {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 5px;
}

.cart__item .item__cart {
    width: 113px;
    height: 40px;
    display: flex;
}

.cart__item .item__cart #quantity {
    width: 89px;
    height: 40px;
    margin: 0;
    margin-right: 5px;
    border: 0.5px solid #C9C9C9;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #111;
}

.cart__quantity-buttons {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.cart__quantity-buttons .item__quantity {
    width: 18px;
    height: 18px;
    background-color: #FF3333;
}

.item__quantity {
    width: 36px;
    cursor: pointer;
    height: 36px;
    background: #151515;
    color: #FFF;
}

.cart__total-price {
    width: 140px;
    text-align: end;
}

.cart__item-delete {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.resumen__cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-left: 25.7em; */
    max-width: 500px;
    margin-left: 60vw;
}

.resumen__cart-container {
    margin-top: 10px;
    border: 2px solid #dcd5d586;
    border-radius: 10px;
    background: #FAFAFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px;

}

.resumen__cart-line {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.resumen__cart .title {
    align-self: flex-end;
    font-family: Raleway;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 4px solid #FF3333;
    margin-top: 100px;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.resumen__cart-line p:nth-of-type(1) {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.resumen__cart-line p:nth-of-type(2) {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #747474;
}

.resumen__cart-line:nth-of-type(4) {
    border-top: 2px solid #FF3333;
    margin-top: 10px;
    padding-top: 4px
}

.resumen__cart a.cart__btn-pay {
    text-align: center;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FF3333;
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}

.resumen__cart a.cart__btn-pay:hover {
    color: #FFF;
    background: #111;
}

/* -------------------------MEDIA QUERIES------------------------- */

@media screen and (max-width: 1260px) {
    .item__container {
        width: 350px;
    }
}

@media screen and (max-width: 1250px) {
    .cart__items-header ul {
        gap: 70px;
    }

    .cart__item-picture {
        width: 150px;
    }

    .cart__item .item__container .item__info {
        width: 280px;
    }

    .cart__item .item__container .item__info .card-item__name {
        font-size: 1.5em;
    }

    .cart__item .item__container .item__info .card-item__licence {
        font-size: 1em;
    }

    .cart__item .item__container .item__info .card-item__price {
        font-size: 1em;
    }

    .cart__item #quantity {
        width: 60px;
    }

    .cart__item .item__cart {
        width: 80px;
    }

    .cart__total-price {
        width: 80px;
    }

    .cart__total-price p {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 1000px) {
    .cart__item .item__container {
        /* width: 260px; */
        width: 30%;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
    }

    .cart__item {
        height: 260px;
    }

    .cart__item .item__container .item__info {
        margin: 0;
    }

    .resumen__cart {
        margin-left: 0;
        margin-top: 10px;
    }

    .cart__items-header ul li:nth-of-type(2) {
        padding-left: 60px;
    }
}

@media screen and (max-width: 700px) {
    .cart__items-header ul {
        max-width: 1300px;
        justify-content: center;
        padding-right: 90px;
        display: flex;
        gap: 90px;
    }

    .cart__items-header ul li:nth-of-type(2) {
        padding-left: 0;
    }

    .cart__items-header ul li:nth-of-type(3) {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    main {
        margin-right: 0;
        margin-left: 0;
    }

    .cart__items {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 450px;
        position: relative;
    }

    .cart__items-header {
        align-self: flex-start;
        max-width: 0;
        width: 80px;
    }

    .cart__items .title {
        margin: 0 0px;
        font-size: 3em;
        margin-right: 3.5em;
    }

    .cart__items-header ul {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 65px;
        height: 400px;
        gap:0;
        padding-right: 15px;
        font-size: 0.8em;
    }

    .cart__items-header ul li:nth-of-type(1) {
        margin-top: 30px;
    }

    .cart__items-header ul li:nth-of-type(2) {
        margin-top: 215px;
    }

    .cart__items-header ul li:nth-of-type(3) {
        margin-top: 39px;
    }

    .cart__article {
        position: absolute;
        top: 88px;
        right: 520px;
        width: 100px;
    }

    .cart__items .cart__item {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: baseline;
        margin-top: 0;
        width: 220px;
    }

    .item__container {
        height: auto;
    }

    .cart__item .item__cart {
        margin-top: 20px;
        justify-content: center;
        display: flex;
    }

    .cart__total-price {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: start;
        align-self: flex-start;
        margin-left: 15px;
    }

    .cart__item-delete {
        width: 30px;
        height: 30px;
        margin-left: 40px;
        margin-right: 0px;
        cursor: pointer;
        margin-top: 20px;
    }
    .card-item__name, .card-item__licence, .card-item__price{
        margin-left: 25px;
    }

    .resumen__cart{
        margin-left: 0;
        width: 250px;
    }
    .resumen__cart .title{
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 3em;
        align-self: flex-start;
    }
    .resumen__cart-container .resumen__cart-line p{
        font-size: 1.5em;
    }
    .cart__btn-pay{  
        font-size: 1.7em!important;
    }
}