.item__container {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px 0;
    margin-bottom: 100px;
}

.card-item__cover {
    display: block;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 40px;
}

.item__img {
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
}

.item__info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
}

.item__info .card-item__licence {
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: var(--dark-solid);
    text-align: left;
    padding-right: 10px;
}

.item__info .card-item__name {
    font-family: var(--base-font);
    font-size: var(--font-jumbo);
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    color: var(--dark-solid);
    text-align: left;
    padding-right: 10px;
}

.item__info .item__description {
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    color: var(--dark-solid);
    text-align: left;
    padding-right: 10px;
}

.item__info .card-item__price {
    font-family: var(--base-font);
    font-size: var(--font-jumbo);
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    color: var(--dark-solid);
    text-align: left;
    padding-right: 10px;
}

.item__promo {
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: var(--secondary-solid);
    text-align: left;
    padding-right: 10px;
}

.item__promo a {
    color: var(--secondary-solid);
    text-decoration: underline;
}

.slider__title-productos {
    font-family: var(--base-font);
    font-size: var(--font-display);
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: var(--dark-solid);
    text-align: left;
    padding-right: 10px;
}

.item__submit {
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    border: none;
    box-shadow: inset 1px 1px 4px #151515;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.item__submit:hover {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    box-shadow: inset 1px 1px 4px #151515;
    transform: scale(1.1);
}

.item__info .item__cart #quantity {
    width: 80px;
    border: 0.5px solid #C9C9C9;
    font-size: var(--font-medium);
    text-align: center;
    line-height: 1.7em;
    margin: 0 15px;
    vertical-align: middle;
    justify-content: center;
    border-radius: 0;
    height: 36px;
}

.item__cart {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.item__quantity {
    width: 36px;
    cursor: pointer;
    height: 36px;
    background: #151515;
    color: #FFF;
}


/* ----------------- MEDIA QUERIES ----------------------------- */

@media screen and (max-width: 800px) {
    .item {
        flex-direction: column;
    }

    .item__img {
        width: 300px;
        height: 300px;
        min-width: 300px;
        min-height: 300px;
    }

    .item__info {
        width: 100%;
    }

    .item__info .card-item__licence {
        font-size: 12px;
    }

    .item__info .card-item__name {
        font-size: var(--font-large);
    }

    .item__info .item__description {
        font-size: var(--font-medium);
    }

    .item__info .card-item__price {
        font-size: 25px;
    }

    .item__promo {
        font-size: 9px;
    }

    .slider__title-productos {
        font-size: 25px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 400px) {
    .item__info .item__cart #quantity {
        width: 50px;
        font-size: var(--font-medium);
    }
}

@media screen and (max-width: 360px) {
    .item {
        margin-left: 0;
        margin-right: 30px;
    }

    .item__info .card-item__licence,
    .card-item__licence {
        font-size: 1em;
    }

    .item__info .card-item__name {
        font-size: 2em;
        text-wrap: wrap;
    }

    .item__info .item__description {
        font-size: 1.5em;
        text-wrap: wrap;
    }

    .item__info .card-item__price {
        font-size: 2em;
    }

    .item__promo {
        font-size: 0.8em;
    }

    .slider__title-productos {
        font-size: 2em;
    }

    .card-item__cover {
        max-width: 180px;
        max-height: 180px;
    }

    .item__info{
        gap: 0;
    }

    .card-item__name {
        font-size: 1.5em;
    }

    .card-item__price {
        font-size: 1.2em;
    }

    .card-item__promo {
        font-size: 0.9em;
    }

    .card-item__tag {
        font-size: 0.9em;
    }

    .item__submit {
        margin-left: 0px;
        width: 165px;
    }
}

@media screen and (max-width: 272px) {
    .item__info .card-item__name{
        line-height: 1.5em;
    }

    .item__img {
        min-width: 120px;
        min-height: 120px;
    }
    .item__quantity {
        width: 20px;
        cursor: pointer;
        height: 20px;
        background: #151515;
        color: #FFF;
    }
    .item__info .item__cart #quantity {
        width: 50px;
       font-size: 1em;
        margin: 0 0px;
       line-height: 1em;
        height: 20px;
    }
    .item__submit {
        margin-left: 0px;
        padding: 5px 10px;
        width: 100px;
    }
}

/* -------------INFO BOX ------------------------ */
 
 .item-info-box {
    background-color: #fff;
    border: 2px solid #3498db; 
    border-radius: 12px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
    text-align: left;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    max-width: 30%;
    min-width: 282px;
    margin-left: 30px;
  }
  
  .item-info-box__title {
    font-family: 'Arial', sans-serif; 
    font-size: 20px;
    font-weight: 700;
    color: #3498db; 
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .item-info-box p {
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    font-weight: 400;
    color: #555; 
    margin: 10px 0; 
  }

  .item__info .item__description{
    font-family: var(--base-font);
    font-weight: 800;
    color: var(--secondary-900)!important; 
    margin: 10px 0;
  }
  
  .item-info-box a {
    color: var(--secondary-900); 
    text-decoration: underline;
  }
  
  .item-info-box p strong {
    font-weight: 600; 
  } 

  .potter-info{
    position: relative!important;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .potter-info img{
    display: inline-block;
    width: 100px;
    border-radius: 12px;
  }

  .starWars-info img{
    border-radius: 10px;
}

.starWars-info, .pokemon-info p{
    text-align:justify;
}
  