<section class="item__container">
  <article class="item">
    <picture class="item__img card-item__cover">
      <img class="card-item__img--front" src="{{selectedItem?.frontImage}}" alt="">
      <img class="card-item__img--back" src="{{selectedItem?.backImage}}" alt="">
    </picture>
    <article class="item__info">
      <p class="card-item__licence">{{selectedItem?.serie}}</p>
      <h3 class="card-item__name">{{selectedItem?.name}}</h3>
      <p class="item__description">Figura coleccionable </p>
      <p class="card-item__price">${{selectedItem?.price}}</p>
      <div class="item__cart">
        <button id="subtract" class="item__quantity" #subtractButton type="button">-</button>
        <input class="item__input" type="text" #quantityButton name="quantity" id="quantity" value="0" disabled>
        <button id="add" class="item__quantity" #addButton type="button">+</button>
        <button class="item__submit btn btn--primary btn--medium" type="button" (click)="addToCart()">Agregar al carrito</button>
      </div>
      <p class="item__promo">
        <a href="">Ver Métodos de Pago</a> - 3 CUOTAS SIN INTERÉS
      </p>
    </article>
  </article>

<article class="item-info-box">
    <h4 class="item-info-box__title">Información del Personaje</h4>
    <p><strong>Raza:</strong> Raza del personaje</p>
    <p><strong>Spouse:</strong> Cónyuge del personaje</p>
    <p><strong>Link Wiki:</strong> <a href="URL de la Wiki" target="_blank">Enlace a la Wiki</a></p>
    <p><strong>Nacimiento:</strong> Fecha de nacimiento</p>
    <p><strong>Muerte:</strong> Fecha de muerte</p>
</article>
</section>


  