.shop-main {
    margin: var(--spacing-20) 0;
}

@media screen and (min-width: 768px) {
    .shop-main {
        margin-bottom: var(--spacing-68) 0;
    }
}

.shop-main-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-20);
}

@media screen and (min-width: 992px) {
    .shop-main-cards {
        min-width: 80vw;
        max-width: 80vw;
    }
}

.card-item{
    min-width: 25rem;
    max-width: 25rem;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .card-item {
        margin: var(--spacing-20);
    }
}

.card-item-cover {
    position: relative;
    display: flex;
}

.card-item-cover img {
    animation: fade 2s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-item-tag {
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--font-xsmall);
    font-weight: 500;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: .4rem .8rem;
    border-radius: .5rem;
}

.card-item-cover:hover .card-item-tag {
    background-color: var(--secondary-solid);
}

.card-item-img-front, .card-item-img-back{
    width: 25rem;
    height: 25rem;
    object-fit: contain;
}

.card-item-img-back {
    display: none;
}

.card-item-cover:hover .card-item-img-front {
    display: none;
}

.card-item-cover:hover .card-item-img-back {
    display: block;
}

.card-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-10);
    padding: var(--spacing-20);
}

.card-item-name {
    font-weight: 1000;
    font-size: var(--font-medium);
}

.card-item-serie {
    font-weight: 500;
    font-size: var(--font-small);
}

.card-item-price {
    font-weight: 500;
    font-size: var(--font-medium);
}

.card-item-promo {
    color: var(--primary-solid);
    font-size: var(--font-xsmall);
    font-weight: 500;
}