.thank-you-picture {
    text-align: center;
}

.thank-you-picture img {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain;
}

.count-down-message{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    font-family: var(--alternative-font);
}