<form [formGroup]="formulario" (submit)="sendData()">
    <div class="form-box">
        <label class="form-label">Nombre: </label>
        <input class="form-input" type="text" formControlName="name">
        <label class="form-label">Categoría: </label>
        <input class="form-input" list="category" formControlName="category">
        <datalist id="category">
            <option value="Keychain">
            <option value="Minis">
            <option value="Plushies">
        </datalist>
    </div>

    <div class="form-box">
        <label class="form-label">Serie: </label>
        <input class="form-input" type="text" formControlName="serie">
        <label class="form-label">Precio: </label>
        <input class="form-input" type="number" formControlName="price">
    </div>

    <div class="form-box">
        <label class="form-label">Descripción: </label>
        <textarea cols="30" rows="10" formControlName="description"></textarea>
    </div>

    <div class="form-box">
        <label class="form-label">Imagen delantera: </label>
        <input class="form-input" type="text" formControlName="frontImage">
        <label class="form-label">Imagen trasera: </label>
        <input class="form-input" type="text" formControlName="backImage">
    </div>

    <div class="form-box form-box-btn">
        <input class="form-btn" type="submit" value="GUARDAR">
        <input class="form-btn" type="reset" value="LIMPIAR" (click)="scrollToTop()">
    </div>
</form>