form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

.form-box {
    display: flex;
    gap: var(--spacing-30);
    align-items: flex-end;
}

.form-box:nth-child(3) {
    align-items: flex-start;
}

.form-label {
    width: 25%;
    font-size: var(--font-medium);
    font-weight: 600;
    letter-spacing: .1rem;
}

.form-box:nth-child(3) .form-label {
    width: auto;
}

.form-input {
    font-size: var(--font-medium);
    width: 100%;
    padding: 1rem .5rem;
    border: none;
    border-bottom: .2rem solid #ff3333;
}

.form-input:focus {
    outline: 0;
    border-bottom: .2rem solid var(--secondary-solid);;
}

textarea {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    width: 100%;
    padding: 1rem;
    border: .2rem solid #ff3333;
}

textarea:focus {
    outline-color: var(--secondary-solid);
}

.form-box-btn {
    justify-content: flex-end;
}

.form-btn {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    transition: background .2s ease-in-out;
    padding: var(--spacing-12) var(--spacing-28);
    border: none;
    cursor: pointer;
}

.form-btn:hover {
    background-color: var(--secondary-solid);
}