.admin-main {
    margin: var(--spacing-20);
}

@media screen and (min-width: 768px) {
    .admin-main {
        margin: var(--spacing-68);
    }
}

.admin-h1 {
    font-size: var(--font-large);
    text-align: center;
    margin-bottom: var(--spacing-28);
}

@media screen and (min-width: 768px) {
    .admin-h1 {
        font-size: var(--font-jumbo);
    }
}

.admin-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--spacing-20);
    margin-bottom: var(--spacing-20);
}

@media screen and (min-width: 576px) {
    .admin-header {
        flex-direction: row;
        margin-bottom: var(--spacing-36);
    }
}

.admin-search {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

@media screen and (min-width: 576px) {
    .admin-search {
        width: 50%;
    }
}

.admin-search-icon {
    font-size: var(--font-xlarge);
}

.admin-search-bar {
    width: 100%;
    font-size: var(--font-xsmall);
    padding: var(--spacing-8);
    border: none;
    border-bottom: .2rem solid var(--primary-solid);
}

@media screen and (min-width: 992px) {
    .admin-search-bar {
        font-size: var(--font-medium);
    }
}

.admin-search-bar:focus {
    outline: 0;
    border-bottom: .2rem solid var(--secondary-solid);
    ;
}

.admin-add {
    font-size: var(--font-xsmall);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
}

@media screen and (min-width: 992px) {
    .admin-add {
        font-size: var(--font-medium);
    }
}

.admin-add-btn {
    color: var(--primary-solid);
    font-size: var(--font-xsmall);
}

@media screen and (min-width: 992px) {
    .admin-add-btn {
        font-size: var(--font-medium);
    }
}

.admin-add-btn:hover {
    color: var(--secondary-solid);
    transition: background .2s ease-in-out;
}

.admin-table {
    width: 100%;
    font-size: var(--font-xsmall);
    letter-spacing: .1rem;
    border-collapse: collapse;
    margin-bottom: var(--spacing-24);
}

@media screen and (min-width: 992px) {
    .admin-table {
        font-size: var(--font-medium);
    }
}

.admin-table-header {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
}

th {
    font-weight: 500;
}

th,
td {
    text-align: center;
    padding: 2rem 0;
}

th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5) {
    display: none;
}

@media screen and (min-width: 376px) {
    th:nth-child(5),
    td:nth-child(5) {
        display: table-cell;
    }
}

@media screen and (min-width: 576px) {
    th:nth-child(4),
    td:nth-child(4) {
        display: table-cell;
    }
}

.admin-table-cell-small {
    width: 5%;
}

.admin-table-cell-large {
    width: 20%;
}

.admin-table-cell-medium {
    width: 10%;
}

.admin-table-body .admin-table-row:nth-child(odd) {
    background-color: var(--medium-bg-solid);
}

.admin-edit-btn {
    color: var(--secondary-solid);
}

.admin-delete-btn {
    color: var(--primary-solid);
    cursor: pointer;
}

.admin-search-negative {
    color: var(--primary-solid);
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-align: center;
    margin: var(--spacing-8);
}

@media screen and (min-width: 992px) {
    .admin-search-negative {
        font-size: var(--font-medium);
    }
}