main {
    margin: var(--spacing-20);
}

@media screen and (min-width: 992px){
    main {
        margin: var(--spacing-68);
    }
}

h1 {
    font-size: var(--font-large);
    text-align: center;
    margin-bottom: var(--spacing-28);
}

@media screen and (min-width: 992px){
    h1 {
        font-size: var(--font-jumbo);
    }
}

.admin-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--spacing-20);
    margin-bottom: var(--spacing-20);
}

@media screen and (min-width: 576px) {
    .admin-header {
        flex-direction: row;
        margin-bottom: var(--spacing-36);
    }
}

.admin-header span {
    font-size: var(--font-xsmall);
    font-weight: 700;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
}

@media screen and (min-width: 992px){
    .admin-header span {
        font-size: var(--font-medium);
    }
}

.admin-search {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

@media screen and (min-width: 576px) {
    .admin-search {
        width: 50%;
    }
}

.admin-search-icon {
    font-size: var(--font-xlarge);
}

.admin-search-bar {
    width: 100%;
    font-size: var(--font-xsmall);
    padding: var(--spacing-8);
    border: none;
    border-bottom: .2rem solid #ff3333;
}

@media screen and (min-width: 992px){
    .admin-search-bar {
        font-size: var(--font-medium);
    }
}

.admin-search-bar:focus {
    outline: 0;
    border-bottom: .2rem solid var(--secondary-solid);;
}

.add-article-btn {
    font-size: var(--font-xsmall);
    display: flex;
}

@media screen and (min-width: 992px){
    .add-article-btn {
        font-size: var(--font-medium);
    }
}

.add-article-btn:hover {
    color: var(--secondary-solid);
    transition: background .2s ease-in-out;
}

.admin-table {
    width: 100%;
    font-size: var(--font-xsmall);
    letter-spacing: .1rem;
    border-collapse: collapse;
    margin-bottom: var(--spacing-24);
}

@media screen and (min-width: 992px){
    .admin-table {
        font-size: var(--font-medium);
    }
}

.admin-table-header {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
}

th {
    font-weight: 500;
    width: 5%;
    padding: 3rem 0;
}

th:nth-child(2),
th:nth-child(3),
th:nth-child(4) {
    width: 20%;
}

th:nth-child(5) {
    width: 10%;
}

tbody tr:nth-child(odd) {
    background-color: var(--medium-bg-solid);
}

td {
    text-align: center;
    padding: 2rem 0;
}

th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5) {
    display: none;
}

@media screen and (min-width: 376px){
    th:nth-child(5),
    td:nth-child(5) {
        display: table-cell;
    }
}

@media screen and (min-width: 576px){
    th:nth-child(4),
    td:nth-child(4) {
        display: table-cell;
    }
}

.add-article-btn {
    color: #f33;
}

.edit-article-btn {
    color: #1d84b5;
}

.delete-article-btn {
    color: #f33;
    cursor: pointer;
}