.slider-container {
    gap: 3rem;
}

.slider-title {
    text-transform: uppercase;
}

.slider-items {
    display: flex;
    gap: 3rem;
    margin: 0 auto;
}

.slider-item {
    width: 100%;
}

.slider-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
}

@media screen and (min-width: 576px) {
    .slider-nav {
        gap: 5rem;
    }
}