.slider-container {
    gap: 3rem;
}

.slider-title {
    text-transform: uppercase;
}

.slider-items {
    display: flex;
    gap: 3rem;
    margin: 0 auto;
}

.slider-item {
    width: 100%;
}

.slider-item-cover {
    position: relative;
    display: flex;
}

.slider-item-cover img {
    animation: fade 2s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.slider-item-tag {
    position: absolute;
    top: -10%;
    right: 0;
    background-color: var(--primary);
    color: var(--ligth-font);
    font-size: var(--font-xsmall);
    font-weight: 500;
    padding: .4rem .8rem;
    border-radius: .5rem;
    transition: background .2s ease-in-out;
}

.slider-item-cover:hover .slider-item-tag {
    background: var(--secondary);
}

.slider-item-img-front,
.slider-item-img-back {
    width: 25rem;
    height: 25rem;
    object-fit: contain;
}

.slider-item-img-back {
    display: none;
}

.slider-item-cover:hover .slider-item-img-front {
    display: none;
}

.slider-item-cover:hover .slider-item-img-back {
    display: block;
}

.slider-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
}

.slider-item-name {
    font-size: var(--font-medium);
    font-weight: 1000;
}

.slider-item-serie {
    font-size: var(--font-small);
    font-weight: 500;
}

.slider-item-license {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.slider-item-price {
    font-size: var(--font-medium);
    font-weight: 500;
}

.slider-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
}

@media screen and (min-width: 576px) {
    .slider-nav {
        gap: 5rem;
    }
}