footer {
    background: var(--dark-bg-solid);
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        gap: var(--spacing-30);
        padding: var(--spacing-30);
    }
}

.footer-navbar {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-30);
    padding: var(--spacing-30);
}

@media screen and (min-width: 768px) {
    .footer-navbar {
        align-items: flex-start;
    }
}

.footer-navbar-item {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .footer-navbar-item {
        font-size: var(--font-medium);
    }
}

.footer-navbar-link {
    transition: color .2s ease-in-out;
    cursor: pointer;
}

.footer-navbar-link:hover {
    color: var(--primary-solid);
}

.footer-social {
    display: flex;
    flex-direction: column;
    padding-top: var(--spacing-20);
}

@media screen and (min-width: 768px) {
    .footer-social {
        align-self: flex-end;
        padding: 0 var(--spacing-30);
    }
}

.footer-social-title {
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-social-title {
        font-size: var(--font-medium);
    }
}

.footer-social-icons {
    display: flex;
    gap: var(--spacing-30);
    padding: var(--spacing-30);
}

.footer-icon {
    fill: var(--light-font-solid);
}

.footer-icon:hover {
    fill: var(--primary-solid);
}

.footer-icon svg {
    width: 2.5rem;
    height: 2.5rem;
}

@media screen and (min-width: 768px) {
    .footer-icon svg {
        width: 5rem;
        height: 5rem;
    }
}

.footer-logo {
    width: 15rem;
    padding: var(--spacing-20);
}

@media screen and (min-width: 768px) {
    .footer-logo {
        padding: calc (var(--spacing-30) - 15rem);
    }
}

.footer-copy {
    font-size: var(--font-xsmall);
    text-align: center;
    padding: var(--spacing-30);
}

@media screen and (min-width: 768px) {
    .footer-copy {
        font-size: var(--font-medium);
    }
}