.main-form {
    margin: var(--spacing-20);
}

@media screen and (min-width: 768px) {
    .main-form {
        margin: var(--spacing-68);
    }
}

.h1-form {
    font-size: var(--font-large);
    text-align: center;
    margin-bottom: var(--spacing-28);
}

@media screen and (min-width: 768px) {
    .h1-form {
        font-size: var(--font-jumbo);
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-50);
    margin: 0 auto;
}

@media screen and (min-width: 996px) {
    .form {
        width: 50%;
    }
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--spacing-30);
}

@media screen and (min-width: 576px) {
    .form-row {
        flex-direction: row;
    }
}

.form-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-20);
}

.form-label {
    font-size: var(--font-xsmall);
    font-weight: 600;
    letter-spacing: .1rem;
}

@media screen and (min-width: 768px) {
    .form-label {
        font-size: var(--font-medium);
    }
}

.form-input {
    font-size: var(--font-xsmall);
    width: 100%;
    padding: 1rem .5rem;
    border: none;
    border-bottom: .2rem solid var(--primary-solid);
}

@media screen and (min-width: 768px) {
    .form-input {
        font-size: var(--font-medium);
    }
}

.form-input:focus {
    outline: 0;
    border-bottom: .2rem solid var(--secondary-solid);
    
}

.form-error {
    position: absolute;
    top: 25%;
    font-size: var(--font-xsmall);
    color: var(--primary-solid);
    font-weight: 600;
}

.form-box-btn {
    display: flex;
    justify-content: center;
    gap: var(--spacing-30);
}

@media screen and (min-width: 992px) {
    .form-box-btn {
        align-self: flex-end;
    }
}

.form-btn {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-xsmall);
    transition: background .2s ease-in-out;
    padding: var(--spacing-12) var(--spacing-28);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .form-btn {
        font-size: var(--font-medium);
    }
}

.form-btn:hover {
    background-color: var(--secondary-solid);
}



