@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

html {
    font-family: var(--base-font);
    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--dark-solid);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

p {
    font-size: var(--font-medium);
}

input::placeholder {
    color: var(--dark-300);
    font-family: var(--base-font);
    font-weight: 500;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.swal2-popup {
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
}