@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--base-font);
    color: var(--dark-solid);
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .main {
        margin: 6rem;
    }
}

.h1 {
    font-size: var(--font-large);
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .h1 {
        font-size: var(--font-jumbo);
    }
}