.pagination {
    display: flex;
    justify-content: center;
    margin: var(--spacing-20) 0;
}

.pag-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-8);
}

.pag-ul li {
    background-color: var(--medium-bg-solid);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    padding: .5rem 1rem;
    border: .1rem solid #1F1F1F;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.pag-ul li:hover {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
}

#previous-page:hover,
#next-page:hover {
    background-color: var(--primary-solid);
}

.pag-ul li.active {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-weight: bold;
    border: .1rem solid #ccc;
    cursor: not-allowed;
}

#previous-page.disabled,
#next-page.disabled {
    background-color: var(--medium-bg-solid);
    color: var(--light-font-solid);
    border: .1rem solid var(--medium-bg-solid);
    cursor: not-allowed;
}