.swal2-popup {
    font-family: var(--base-font);
    font-size: var(--font-xsmall) !important;
    font-weight: 600 !important;
    letter-spacing: .1rem;
}

.swal2-icon {
    font-size: var(--font-xsmall) !important;
}

.swal2-confirm,
.swal2-cancel {
    background-color: var(--primary-solid) !important;
    color: var(--light-font-solid) !important;
    font-size: var(--font-xsmall) !important;
    transition: background .2s ease-in-out !important;
    padding: var(--spacing-12) var(--spacing-28) !important;
    border: none !important;
    border-radius: .5rem !important;
    cursor: pointer !important;
}

div:where(.swal2-container) button:where(.swal2-styled) {
    box-shadow: none !important;
}

.swal2-confirm:hover,
.swal2-cancel:hover {
    background-color: var(--secondary-solid) !important;
}

.swal2-input {
    padding: 1rem .5rem !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: .2rem solid var(--primary-solid) !important;
    box-shadow: none !important;
}

.swal2-input:focus {
    outline: 0 !important;
    border-bottom: .2rem solid var(--secondary-solid) !important;
}

.swal2-validation-message {
    background-color: white !important;
    color: var(--primary-solid) !important;
    font-weight: 600 !important;
}

.swal2-validation-message:before {
    display: none !important;
}

.swal2-actions {
    gap: var(--spacing-30) !important;
}