.swal2-popup {
    font-family: var(--base-font);
    font-size: var(--font-xsmall) !important;
    font-weight: 600 !important;
    letter-spacing: .1rem;
}

.swal2-confirm,
.swal2-cancel {
    background-color: var(--primary-solid) !important;
    color: var(--light-font-solid) !important;
    font-size: var(--font-xsmall) !important;
    padding: var(--spacing-12) var(--spacing-28);
    border: none !important;
    border-radius: .5rem !important;
    transition: background .2s ease-in-out;
    cursor: pointer !important;
}

div:where(.swal2-container) button:where(.swal2-styled) {
    box-shadow: none !important;
}

.swal2-confirm:hover,
.swal2-cancel:hover {
    background-color: var(--secondary-solid) !important;
}

.swal2-input {
    font-size: var(--font-xsmall);
    padding: 1rem .5rem !important;
    border: .2rem solid var(--primary-solid);
    border-radius: .5rem;
    box-shadow: none !important;
}

.swal2-input:focus {
    border: .2rem solid var(--secondary-solid);
}

.swal2-validation-message {
    background-color: white;
    color: var(--primary-solid);
    font-weight: 600;
}

.swal2-validation-message:before {
    display: none;
}

.swal2-actions {
    gap: var(--spacing-30);
}