.hero {
    width: 100%;
    height: 70vh;
    background: url(../../../../assets/img/hero.png) no-repeat center center;
    background-size: cover;
    font-family: var(--alternative-font);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 576px) {
    .hero {
        height: 80vh;
    }
}

.hero-content {
    width: 80%;
    color: var(--ligth-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5rem;
    z-index: 1;
}

.hero-title {
    font-size: var(--font-large);
    font-weight: 1000;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: var(--font-xlarge);
    }
}

.hero-text {
    font-size: var(--font-medium);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .hero-text {
        font-size: var(--font-large);
    }
}

.hero-btn {
    display: block;
    width: fit-content;
    background-color: var(--primary);
    font-size: var(--font-medium);
    transition: background .2s ease-in-out;
    transition: transform .2s ease-in-out;
    padding: 1rem 3rem;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .hero-btn {
        font-size: var(--font-large);
        padding: 2rem 5rem;
    }
}

.hero-btn:hover {
    background-color: var(--secondary);
    transform: scale(1.05);
}