.hero {
    background: url(../../../../assets/img/funkos-banner-1.png) no-repeat center center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 80vh;
}

.hero-content {
    position: absolute;
    top: 25%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-50);
    z-index: 2;
    color: var(--light-font-solid);
}

.hero-title {
    font-size: var(--font-xlarge);
    font-weight: 1000;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: var(--font-display);
    }    
}

.hero-text {
    font-size: var(--font-medium);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .hero-text {
        font-size: var(--font-large);
    }    
}

.hero-btn {
    background-color: var(--primary-solid);
    font-size: var(--font-medium);
    transition: background .2s ease-in-out;
    padding: var(--spacing-10) var(--spacing-30);
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .hero-btn {
        font-size: var(--font-large);
        padding: var(--spacing-20) var(--spacing-50);
    }    
}

.hero-btn:hover {
    background-color: var(--secondary-solid);
}