<main class="main">
    <h1 class="h1">TÉRMINOS Y CONDICIONES DE USO</h1>

    <div class="terms-header">
        <p><strong>Última actualización 10 de noviembre de 2023</strong></p>

        <p>Estos Términos de Servicio ("Términos") se aplican a tu acceso y uso de (i) los sitios web ubicados en
            www.funko.com, y todos los enlaces sucesores y páginas web asociadas, sitios web y páginas de redes sociales
            (los "Sitios") proporcionados por Funko, LLC o sus subsidiarias ("Funko", "nosotros", "nuestro" o
            "nosotros"),
            (ii) aplicaciones móviles que se pueden descargar en tu teléfono inteligente o tableta (cada una una
            "Aplicación"), (iii) servicios en línea (incluidos el Sitio y la Aplicación, juntos los "Servicios") y (iv)
            productos accesibles a través del Sitio y la Aplicación (los "Productos").</p>

        <p>AL UTILIZAR NUESTROS PRODUCTOS O SERVICIOS, ACEPTAS ESTOS TÉRMINOS Y ACUERDAS QUE EXCEPTO (I) PARA CIERTOS
            TIPOS
            DE DISPUTAS DESCRITAS EN LA SECCIÓN 16, (II) DONDE EJERZAS TU DERECHO A OPTAR POR NO PARTICIPAR EN LA
            ARBITRACIÓN SEGÚN SE DESCRIBE EN LA SECCIÓN 16, O (III) EN LA MEDIDA EN QUE LO PROHÍBA LA LEY, LAS DISPUTAS
            ENTRE TÚ Y FUNKO SE RESOLVERÁN ÚNICAMENTE DE MANERA INDIVIDUAL Y NO COMO UN ARBITRAJE COLECTIVO, ACCIÓN DE
            CLASE, CUALQUIER OTRO TIPO DE PROCEDIMIENTO REPRESENTATIVO O POR JUICIO CON JURADO. Además, se aplicarán los
            términos de venta en la Sección 5 con respecto a cualquier Producto que compres de nosotros. Si no estás de
            acuerdo con estos Términos, no utilices nuestros Productos o Servicios.</p>

        <p>Podemos indicar que se aplican términos, condiciones, pautas, políticas o reglas diferentes o adicionales en
            relación con algunos de nuestros Productos o Servicios ("Términos Adicionales"). Cualquier Término Adicional
            se
            convierte en parte de tu acuerdo con nosotros si utilizas los Productos o Servicios correspondientes, y si
            hay
            un conflicto entre estos Términos y los Términos Adicionales, los Términos Adicionales controlarán para ese
            conflicto.</p>

        <p>Podemos realizar cambios en estos Términos. La fecha de "Última actualización" anterior indica cuándo se
            cambiaron por última vez estos Términos. Si realizamos cambios en el futuro, podemos informarte de dichos
            cambios, como enviar un correo electrónico, proporcionar un aviso a través de nuestros Servicios o
            actualizar la
            fecha en la parte superior de estos Términos. A menos que digamos lo contrario en nuestro aviso, los
            Términos
            enmendados serán efectivos de inmediato, y tu uso continuado de nuestros Productos o Servicios después de
            que
            proporcionemos dicho aviso confirmará tu aceptación de los cambios. Si no estás de acuerdo con los Términos
            enmendados, debes dejar de inmediato de usar nuestros Productos y Servicios.</p>
    </div>

    <ol class="terms-clauses">
        <li>
            <h2 class="terms-h2">ELEGIBILIDAD Y CONDICIONES DE USO</h2>

            <p><strong>Edad.</strong>Los usuarios menores de 18 años (o la edad legal de mayoría donde el usuario
                resida)
                solo pueden utilizar nuestros Productos y Servicios bajo la supervisión de un padre o tutor legal que
                acepte
                estar sujeto a estos Términos. El padre o tutor legal de un usuario menor de 18 años (o la edad legal de
                mayoría) es totalmente responsable de los actos u omisiones de dicho usuario en relación con nuestros
                Productos y Servicios. Si eres padre o tutor legal y crees que tu hijo menor de 18 años está utilizando
                nuestros Productos o Servicios sin tu consentimiento, contáctanos en support"&#64;"funko.com.</p>

            <p><strong>Jurisdicción.</strong>Solo puedes utilizar nuestros Productos y Servicios en jurisdicciones
                autorizadas por Funko. El uso de nuestros Productos y Servicios está actualmente autorizado solo en los
                Estados Unidos y Canadá (las "Territorios").</p>
        </li>

        <li>
            <h2 class="terms-h2">TU INFORMACIÓN</h2>

            <p>Puedes proporcionar cierta información a Funko en relación con tu acceso o uso de nuestros Servicios, o
                podemos recopilar cierta información sobre ti cuando accedes o usas nuestros Servicios. Aseguras que
                cualquier información que proporciones a Funko en relación con los Servicios sea precisa. Para obtener
                información sobre cómo recopilamos, utilizamos, compartimos y procesamos información sobre ti, consulta
                nuestra Política de Privacidad.</p>
        </li>

        <li>
            <h2 class="terms-h2">CUENTAS</h2>

            <p>Puedes crear una cuenta con Funko para utilizar algunos o todos nuestros Servicios. No debes compartir ni
                permitir que otros utilicen tus credenciales de cuenta individuales. Debes actualizar rápidamente
                cualquier
                información contenida en tu cuenta si cambia. Debes utilizar una contraseña segura para tu cuenta que
                sea
                única para nuestros Servicios y que no hayas utilizado en ningún otro sitio web o servicio en línea.
                Debes
                mantener la seguridad de tu cuenta, según corresponda, y notificarnos rápidamente si descubres o
                sospechas
                que alguien ha accedido a tu cuenta sin tu permiso. Nos reservamos el derecho de rechazar, exigir que
                cambies o recuperes nombres de usuario, incluso en nombre de empresas o individuos que tengan derechos
                legales, incluidos los derechos de marca registrada, en esos nombres de usuario.</p>
        </li>

        <li>
            <h2 class="terms-h2">CONDUCTAS PROHIBIDAS</h2>

            <p>No utilizarás nuestros Productos o Servicios si no cumples con los requisitos de elegibilidad en la
                Sección 1
                y no utilizarás nuestros Productos o Servicios con fines distintos a su propósito previsto. Además, no
                debes, en relación con nuestros Productos o Servicios:</p>

            <ul>
                <li>
                    <p>Violentar ninguna ley aplicable, contrato, derecho de propiedad intelectual u otro derecho de
                        terceros ni cometer un delito;</p>
                </li>

                <li>
                    <p>Participar en conductas acosadoras, amenazadoras, intimidatorias, predatorias o de acecho;</p>
                </li>

                <li>
                    <p>Usar o intentar usar la cuenta o información de otro usuario sin autorización de ese usuario y de
                        Funko;</p>
                </li>

                <li>
                    <p>Hacerse pasar o publicar en nombre de cualquier persona o entidad o de lo contrario, tergiversar
                        tu
                        afiliación con una persona o entidad;</p>
                </li>

                <li>
                    <p>Vender o revender nuestros Servicios;</p>
                </li>

                <li>
                    <p>Copiar, reproducir, distribuir, realizar públicamente o mostrar públicamente todo o parte de
                        nuestros
                        Productos o Servicios, excepto según lo expresamente permitido por nosotros o nuestros
                        licenciantes;
                    </p>
                </li>

                <li>
                    <p>Modificar nuestros Productos o Servicios, quitar cualquier aviso de derechos de propiedad o
                        marcas, o
                        de lo contrario, realizar obras derivadas basadas en nuestros Productos o Servicios;</p>
                </li>

                <li>
                    <p>Usar nuestros Servicios de manera que pueda interferir, interrumpir, afectar negativamente o
                        inhibir
                        a otros usuarios de disfrutar plenamente de nuestros Servicios o que pueda dañar, deshabilitar,
                        sobrecargar o perjudicar el funcionamiento de nuestros Servicios de cualquier manera;</p>
                </li>

                <li>
                    <p>Hacer ingeniería inversa de cualquier aspecto de nuestros Servicios o hacer algo que pueda
                        descubrir
                        el código fuente, o eludir o evitar medidas empleadas para prevenir o limitar el acceso a
                        cualquier
                        parte de nuestros Servicios;</p>
                </li>

                <li>
                    <p>Usar cualquier método de extracción de datos, robots u otros métodos de extracción de datos
                        similares
                        diseñados para raspar o extraer datos de nuestros Servicios, excepto de acuerdo con las
                        instrucciones contenidas en nuestro archivo robots.txt y solo para compilar resultados de
                        búsqueda,
                        siempre que Funko otorgue a los operadores de motores de búsqueda públicos el permiso para usar
                        arañas y copiar materiales de los Sitios con el único propósito de (y solo en la medida
                        necesaria
                        para) crear índices públicamente disponibles y buscables de dichos materiales, pero no cachés o
                        archivos de dichos materiales. Funko se reserva el derecho de revocar dicho permiso ya sea en
                        general o en casos específicos, en cualquier momento y sin previo aviso;</p>
                </li>

                <li>
                    <p>Desarrollar o utilizar aplicaciones que interactúen con nuestros Servicios sin nuestro
                        consentimiento
                        previo por escrito;</p>
                </li>

                <li>
                    <p>Enviar, distribuir o publicar spam, comunicaciones electrónicas comerciales no solicitadas o a
                        granel, cartas en cadena o esquemas piramidales;</p>
                </li>

                <li>
                    <p>Vincular a cualquier parte en línea de los Servicios de manera que dañe o aproveche, a nuestra
                        única
                        discreción, nuestras reputaciones o las de cualquiera de nuestros socios, o sugiera cualquier
                        forma
                        de asociación, aprobación o respaldo por parte de Funko o nuestros socios, incluidos nuestros
                        socios
                        de licencias;</p>
                </li>

                <li>
                    <p>Utilizar nuestros Productos o Servicios con cualquier propósito ilegal o no autorizado, o
                        participar,
                        fomentar o promover cualquier actividad que viole estos Términos.</p>
                </li>
            </ul>

            <p>La aplicación de esta Sección 4 es únicamente a discreción de Funko, y la falta de aplicación de esta
                sección
                en algunos casos no constituye una renuncia a nuestro derecho de hacerlo en otros casos.</p>
        </li>
    </ol>
</main>