<section class="item">
    <picture class="item__img card-item__cover">
        <img class="card-item__img--front" src={{selectedItem?.frontImage}} alt="">
        <img class="card-item__img--back" src={{selectedItem?.backImage}} alt="">
    </picture>
    <article class="item__info">
        <p class="card-item__licence">{{selectedItem?.series}}</p>
        <h3 class="card-item__name">{{selectedItem?.name}}</h3>
        <p class="item__description">Figura coleccionable </p>
        <p class="card-item__price">${{selectedItem?.price}}</p>
        <div class="item__cart">
            <button id="subtract" class="item__quantity" #subtractButton type="button">-</button>
            <input class="item__input" type="text" #quantityButton name="quantity" id="quantity" value="0" disabled>
            <button id="add" class="item__quantity" #addButton type="button">+</button>

            <button class="item__submit btn btn--primary btn--medium " type="submit">Agregar al carrito</button>
        </div>
        <p class="item__promo">
            <a href="">Ver Metodos de Pago</a> - 3 CUOTAS SIN INTERES
        </p>
    </article>
</section>