<section class="slider-main">
    <h2 class="slider-title">ÚLTIMOS LANZAMIENTOS</h2>
    <ul class="slider-items">
        <li class="slider-item" *ngFor="let item of pagedItems">
            <article class="slider-item">
                <a [routerLink]="'/shop/'+ item.id">
                    <picture class="slider-item-cover">
                        <span class="slider-item-tag">NUEVO</span>
                        <img class="slider-item-img-front" [src]="item.frontImage" alt="Figura coleccionable Funko">
                        <img class="slider-item-img-back" [src]="item.backImage" alt="Figura coleccionable Funko en caja">
                    </picture>

                    <div class="slider-item-content">
                        <p class="slider-item-name">{{item.name}}</p>
                        <h4 class="slider-item-serie">{{item.serie}}</h4>
                        <p class="slider-item-price">${{item.price}}</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>

    <div class="slider-nav">
        <button class="slider-nav-btn" (click)="changePage(currentPage - 1)">Anterior</button>
        <button class="slider-nav-btn" (click)="changePage(currentPage + 1)">Siguiente</button>
    </div>
</section>