<section class="collection">
    <article class="collection-content">
        <h2 class="collection-title">EL SEÑOR DE LOS ANILLOS</h2>
        <p class="collection-text">Sumérgete en la Tierra Media con esta colección que captura la esencia de la obra maestra de J.R.R. Tolkien.</p>
        <a class="collection-btn" [routerLink]="['/shop', { licence: 'The Lord of the Rings' }]" (click)="scrollToTop()" data-aos="zoom-in" data-aos-duration="1500">VER COLECCIÓN</a>
    </article>
    <picture class="collection-picture" data-aos="zoom-out" data-aos-duration="1500">
        <img src="../../../assets/img/funko-gandalf.png"
            alt="Figura coleccionable Funko de Gandalf">
    </picture>
</section>

<section class="collection">
    <article class="collection-content">
        <h2 class="collection-title">STAR WARS</h2>
        <p class="collection-text">Explora la galaxia muy muy lejana a través de esta colección que fascinará a cualquier fanático de la saga.</p>
        <a class="collection-btn" [routerLink]="['/shop', { licence: 'Star Wars' }]" (click)="scrollToTop()" data-aos="zoom-in" data-aos-duration="1500">VER COLECCIÓN</a>
    </article>
    <picture class="collection-picture" data-aos="zoom-out" data-aos-duration="1500">
        <img src="../../../assets/img/funko-ahsoka.png"
            alt="Figura coleccionable Funko de Ahsoka">
    </picture>
</section>

<section class="collection">
    <article class="collection-content">
        <h2 class="collection-title">POKÉMON</h2>
        <p class="collection-text"> Atrapa la diversión y la emoción de Pokémon con estas irresistibles figuras Funko.</p>
        <a class="collection-btn" [routerLink]="['/shop', { licence: 'Pokemon' }]" (click)="scrollToTop()" data-aos="zoom-in" data-aos-duration="1500">VER COLECCIÓN</a>
    </article>
    <picture class="collection-picture" data-aos="zoom-out" data-aos-duration="1500">
        <img src="../../../assets/img/funko-chalizard.png"
            alt="Figura coleccionable Funko de Harry Potter">
    </picture>
</section>

<section class="collection">
    <article class="collection-content">
        <h2 class="collection-title">HARRY POTTER</h2>
        <p class="collection-text">Descubre esta colección que hará las delicias de todos los fanáticos de la magia y la aventura.</p>
        <a class="collection-btn" [routerLink]="['/shop', { licence: 'Harry Potter' }]" (click)="scrollToTop()" data-aos="zoom-in" data-aos-duration="1500">VER COLECCIÓN</a>
    </article>
    <picture class="collection-picture" data-aos="zoom-out" data-aos-duration="1500">
        <img src="../../../assets/img/funko-harry-potter.webp"
            alt="Figura coleccionable Funko de Harry Potter">
    </picture>
</section>