footer {
    background-color: var(--dark-bg);
    color: var(--ligth-font);
    font-family: var(--alternative-font);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        gap: 3rem;
        padding: 3rem;
    }
}

.footer-navbar {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}

@media screen and (min-width: 768px) {
    .footer-navbar {
        align-items: flex-start;
    }
}

.footer-navbar-item {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .footer-navbar-item {
        font-size: var(--font-medium);
    }
}

.footer-navbar-link {
    transition: color .2s ease-in-out;
    cursor: pointer;
}

.footer-navbar-link:hover {
    color: var(--primary);
}

.footer-social {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

@media screen and (min-width: 768px) {
    .footer-social {
        align-self: flex-end;
        padding: 0 3rem;
    }
}

.footer-social-title {
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-social-title {
        font-size: var(--font-medium);
    }
}

.footer-social-icons {
    display: flex;
    gap: 3rem;
    padding: 3rem;
}

.footer-icon {
    fill: var(--ligth-font);
}

.footer-icon:hover {
    fill: var(--primary);
}

.footer-icon svg {
    width: 2.5rem;
    height: 2.5rem;
}

@media screen and (min-width: 768px) {
    .footer-icon svg {
        width: 5rem;
        height: 5rem;
    }
}

.footer-logo {
    width: 15rem;
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    .footer-logo {
        padding: calc (3rem - 15rem);
    }
}

.footer-copy {
    font-size: var(--font-xsmall);
    text-align: center;
    padding: 3rem;
}

@media screen and (min-width: 768px) {
    .footer-copy {
        font-size: var(--font-medium);
    }
}