.slider-main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
    margin: var(--spacing-30);
}

.slider-title {
    font-size: var(--font-large);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: var(--spacing-30);
}

@media screen and (min-width: 768px) {
    .slider-title {
        font-size: var(--font-jumbo);
    }
}

.slider-items {
    display: flex;
    gap: var(--spacing-30);
    margin: 0 auto;
}

.slider-item {
    width: 100%;
}

.slider-item-cover {
    position: relative;
    display: flex;
}

.slider-item-cover img {
    animation: fade 2s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slider-item-tag {
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--font-xsmall);
    font-weight: 500;
    background-color: var(--primary);
    color: var(--ligth-font);
    padding: .4rem .8rem;
    border-radius: .5rem;
}

.slider-item-cover:hover .slider-item-tag {
    background-color: var(--secondary);
}

.slider-item-img-front,
.slider-item-img-back {
    width: 25rem;
    height: 25rem;
    object-fit: contain;
}

.slider-item-img-back {
    display: none;
}

.slider-item-cover:hover .slider-item-img-front {
    display: none;
}

.slider-item-cover:hover .slider-item-img-back {
    display: block;
}

.slider-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-10);
    padding: var(--spacing-20);
}

.slider-item-name {
    font-size: var(--font-medium);
    font-weight: 1000;
}

.slider-item-serie {
    font-size: var(--font-small);
    font-weight: 500;
}

.slider-item-price {
    font-size: var(--font-medium);
    font-weight: 500;
}

.slider-nav {
    display: flex;
    justify-content: center;
    gap: var(--spacing-20);
    margin: var(--spacing-10) 0;
}

@media screen and (min-width: 576px) {
    .slider-nav {
        gap: var(--spacing-50);
    }
}

.slider-nav-btn {
    background-color: var(--primary);
    color: var(--ligth-font);
    font-size: var(--font-xsmall);
    transition: background .2s ease-in-out;
    padding: var(--spacing-10) var(--spacing-20);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .slider-nav-btn {
        font-size: var(--font-small);
    }
}

.slider-nav-btn:hover {
    background-color: var(--secondary);
}