<header>
    <nav class="navbar">
        <picture class="navbar-logo">
            <img src="../../../../assets/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca FunkoShop">
        </picture>

        <div class="navbar-menu-toggle">
            <span #hambIcon class="menu-icon">&#9776;</span>
        </div>

        <ul #navBar class="navbar-menu">
            <li class="navbar-item">
                <a class="navbar-link" routerLink="/admin">LISTADO</a>
            </li>

            <li class="navbar-item">
                <a class="navbar-link" [routerLink]="['/admin/new-funko']">AGREGAR</a>
            </li>

            <li class="navbar-item">
                <a class="navbar-link" (click)="logout()">CERRAR SESIÓN</a>
            </li>
        </ul>
    </nav>
</header>