<header class="header-container">
    <picture class="header-logo">
        <a><img src="../../../../assets/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca FunkoShop"></a>
    </picture>

    <nav class="header-navbar">
        <ul #navBar class="header-navbar-menu">
            <li class="header-navbar-item">
                <a class="header-navbar-link" routerLink="/admin">LISTADO</a>
            </li>

            <li class="header-navbar-item">
                <a class="header-navbar-link" [routerLink]="['/admin/new-funko']">AGREGAR</a>
            </li>

            <li class="header-navbar-item">
                <a class="header-navbar-link" (click)="logout()">SALIR</a>
            </li>
        </ul>

        <div class="header-hamb-icon">
            <span #hambIcon>&#9776;</span>
        </div>
    </nav>
</header>