<aside class="shop__aside">
    <div class="aside__input">
        <label for="buscar" class="label">BUSCAR</label>
        <input type="text" name="searchQuery" id="buscar" 
        placeholder="Nombre" class="aside__input-buscar" 
        [(ngModel)]="searchQuery"
  (ngModelChange)="onSearchChange($event)">
      </div>
      
    <div class="aside__input">
        <label for="" class="label">ORDENAR POR</label>
        <div class="custom-select">
            <select name="orderType" class="placeholder-style" title="Ordenar por" id="shop__aside-select" [(ngModel)]="orderType" (change)="onOrderChange()" >
                <option value="az">A-Z</option>
                <option value="za">Z-A</option>
                <option value="desc">Mayor precio</option>
                <option value="asc">Menor precio</option>

            </select>
        </div>
    </div>
    <div class="aside__input">
        <label class="label">PRECIO</label>
        <div class="precio">
          <div>
            <label for="min-price" class="label_precio-min-max">MIN $</label>
            <input
              type="number"
              id="min-price"
              class="input-field"
              placeholder="0"
              min="0"
              [ngModel]="minPrice"
              (ngModelChange)="minPrice = $event"
              (input)="onPriceFilterChange()"
            />
          </div>
          <div>
            <label for="max-price" class="label_precio-min-max">MAX $</label>
            <input
              type="number"
              id="max-price"
              class="input-field"
              placeholder="0"
              min="0"
              [ngModel]="maxPrice"
              (ngModelChange)="maxPrice = $event"
              (input)="onPriceFilterChange()"
            />
          </div>
        </div>
      </div>
    <div class="aside__input">
        <label for="" class="label">FILTRAR</label>
        <div class="checkbox">
            <input type="checkbox" name="" id="nuevos-checkbox" class="checkbox-input">
            <label class="checkbox__label-text" for="nuevos-checkbox">MINIS</label>
        </div>
        <div>
            <input type="checkbox" name="" id="ofertas-checkbox" class="checkbox-input">
            <label class="checkbox__label-text" for="ofertas-checkbox">KEYCHAIN</label>
        </div>
        <div>
            <input type="checkbox" name="" id="edicion-especial-checkbox" class="checkbox-input">
            <label class="checkbox__label-text" for="edicion-especial-checkbox">PLUSHIES</label>
        </div>
        <div>
            <input type="checkbox" name="" id="edicion-especial-checkbox" class="checkbox-input">
            <label class="checkbox__label-text" for="edicion-especial-checkbox">POP! VINYL</label>
        </div>
        <div>
            <input type="checkbox" name="" id="favoritos-checkbox" class="checkbox-input">
            <label class="checkbox__label-text" for="favoritos-checkbox">FAVORITOS</label>
        </div>
    </div>


</aside>
