.shop-main {
    margin: 3rem auto;
}

@media screen and (min-width: 768px) {
    .shop-main {
        min-width: 80vw;
        margin: 6rem 2rem;
    }
}

@media screen and (min-width: 996px) {
    .shop-main {
        margin: 6rem 4rem;
    }
}

.shop-main-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.shop-main-item {
    width: 25rem;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .shop-main-item {
        margin: 2rem;
    }
}