form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

.form-row {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-30);
}

.form-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-30);
}

.form-label {
    font-size: var(--font-medium);
    font-weight: 600;
    letter-spacing: .1rem;
    width: 25%;
}

.form-input {
    font-size: var(--font-medium);
    width: 100%;
    padding: 1rem .5rem;
    border: none;
    border-bottom: .2rem solid #ff3333;
}

.form-input:focus {
    outline: 0;
    border-bottom: .2rem solid var(--secondary-solid);;
}

.form-box-text-area {
    align-items: flex-start;
    margin-top: var(--spacing-30);
}

.form-box-text-area label {
    width: 9%;
}

textarea {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    width: 100%;
    padding: 1rem;
    border: .2rem solid #ff3333;
}

textarea:focus {
    outline-color: var(--secondary-solid);
}

.error {
    position: absolute;
    left: 25%;
    top: 100%;
    font-size: var(--font-xsmall);
    color: #ff3333;
    font-weight: 600;
}

.error-text-area {
    left: 12.5%;
}

.form-box-btn {
    justify-content: flex-end;
}

.form-btn {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    transition: background .2s ease-in-out;
    padding: var(--spacing-12) var(--spacing-28);
    border: none;
    cursor: pointer;
}

.form-btn:hover {
    background-color: var(--secondary-solid);
}