.admin-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

@media screen and (min-width: 576px) {
    .admin-form {
        width: 75%;
        margin: 0 auto;
    }
}