@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');



/* ------------------NORMALIZE ------------------------ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.page-header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol {
    list-style-type: none;
}

img {
    width: 100%;
}

input[type="text"]::placeholder {
    color: var(--dark-300);
    font-family: var(--base-font);
    font-weight: 500;
}


/* ------------------VARIABLES ------------------------ */

:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-30: 3rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

p {
    font-size: var(--font-medium);
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
}

.with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ------------------HEADER - FOOTER STYLES ------------------------ */

header,
footer {
    color: var(--light-font-solid);
    font-family: var(--alternative-font);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar__link,
footer a {
    color: var(--light-font-solid);
    font-family: var(--alternative-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-left: 8px;
    transition: color 0.2s ease-in-out;
}

.navbar__link:hover,
.submenu__link:hover,
footer a:hover {
    color: var(--primary-solid);
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}

/* ---------------------CARDS ---------------------------- */

.card-item {
    min-width: 230px;
    max-width: 280px;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    align-items: flex-start;
}

.card-item__licence {
    font-weight: 500;
    font-size: 14px;
}

.card-item__name {
    font-weight: 700;
    font-size: 18px;
}

.card-item__price {
    font-weight: 500;
    font-size: 16px;
}

.card-item__promo {
    color: #1D84B5;
    font-size: 12px;
}

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__img--back {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.card-item__cover img {
    animation: fade 1.7s ease-in-out;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card-item__tag {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #FF3333;
    color: #FFF;
    padding: 4px 8px;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 715px){
    .card-item{
        margin: 0 auto;
    }
}