/*-------------------------IMPORTS-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import '~aos/dist/aos.css';

/*-------------------------VARIABLES-------------------------*/

:root {
    /*FONT-FAMILY*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
    /*FONT-SIZE*/
    --font-max: 4rem;
    --font-xlarge: 3rem;
    --font-large: 2.4rem;
    --font-medium: 1.8rem;
    --font-small: 1.6rem;
    --font-xsmall: 1.4rem;
    --font-min: 1.2rem;
    /*COLOURS*/
    --primary: #FF3333;
    --secondary: #1D84B5;
    --dark-font: #1F1F1F;
    --medium-font: #6B6B6B;
    --ligth-font: #FFFFFF;
    --dark-bg: #30343F;
    --medium-bg: #E8E9F6;
    --ligth-bg: #FAFAFF;
}

/*-------------------------GENERALS-------------------------*/

html {
    box-sizing: border-box;
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-font);
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--ligth-bg);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .main {
        margin: 6rem;
    }
}

.h1 {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    text-align: center;
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .h1 {
        font-size: var(--font-max);
    }
}

.h2 {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    text-align: center;
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .h2 {
        font-size: var(--font-xlarge);
    }
}

.button {
    background-color: var(--primary);
    color: var(--ligth-font);
    font-size: var(--font-xsmall);
    transition: background .2s ease-in-out;
    padding: 1.2rem 2.8rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .button {
        font-size: var(--font-medium);
    }
}

.button:hover {
    background-color: var(--secondary);
}

/*-------------------------FORMS-------------------------*/

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

@media screen and (min-width: 996px) {
    .form {
        width: 50%;
        margin: 0 auto;
    }
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
}

@media screen and (min-width: 576px) {
    .form-row {
        flex-direction: row;
    }
}

.form-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.form-label {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .form-label {
        font-size: var(--font-medium);
    }
}

.form-label-textarea {
    margin-bottom: 1rem;
}

.form-input {
    font-size: var(--font-xsmall);
    width: 100%;
    padding: 1rem 0;
    border: none;
    border-bottom: .2rem solid var(--primary);
}

@media screen and (min-width: 768px) {
    .form-input {
        font-size: var(--font-medium);
    }
}

.form-input:focus {
    outline: 0;
    border-bottom: .2rem solid var(--secondary);
}

.form-input::placeholder {
    color: var(--medium-font);
}

.form-textarea {
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    width: 100%;
    padding: 1rem .5rem;
    border: .2rem solid var(--primary);
    border-radius: .5rem;
}

@media screen and (min-width: 768px) {
    .form-textarea {
        font-size: var(--font-medium);
    }
}

.form-textarea:focus {
    outline: 0;
    border: .2rem solid var(--secondary);
}

.form-error {
    position: absolute;
    top: 100%;
    font-size: var(--font-xsmall);
    color: var(--primary);
    font-weight: 500;
}

.form-box-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

@media screen and (min-width: 992px) {
    .form-box-btn {
        align-self: flex-end;
    }
}

.form-message {
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-align: center;
}

.form-message a {
    color: var(--primary);
}

.form-message a:hover {
    color: var(--secondary);
}

/*-------------------------ITEMS-------------------------*/

.item-tag {
    position: absolute;
    top: -10%;
    right: 0;
    background-color: var(--primary);
    color: var(--ligth-font);
    font-size: var(--font-min);
    font-weight: 500;
    padding: .4rem .8rem;
    border-radius: .5rem;
    transition: background .2s ease-in-out;
}

@media screen and (min-width: 768px) {
    .item-tag {
        font-size: var(--font-xsmall);
    }
}

.item-cover {
    position: relative;
    display: flex;
}

.item-cover img {
    animation: fade 2s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.item-cover:hover .item-tag {
    background: var(--secondary);
}

.item-img-front,
.item-img-back {
    width: 25rem;
    height: 25rem;
    object-fit: contain;
}

.item-img-back {
    display: none;
}

.item-cover:hover .item-img-front {
    display: none;
}

.item-cover:hover .item-img-back {
    display: block;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
}

.item-name {
    font-size: var(--font-small);
    font-weight: 1000;
}

@media screen and (min-width: 768px) {
    .item-name {
        font-size: var(--font-medium);
    }
}

.item-serie {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .item-serie {
        font-size: var(--font-small);
    }
}

.item-license {
    font-size: var(--font-min);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .item-license {
        font-size: var(--font-xsmall);
    }
}

.item-price {
    font-size: var(--font-small);
    font-weight: 500;
}

@media screen and (min-width: 992px) {
    .item-price {
        font-size: var(--font-medium);
    }
}

.item-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

@media screen and (min-width: 992px) {
    .item-cart {
        flex-direction: row;
        gap: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .item-cart {
        justify-content: flex-start;
    }
}

.item-cart-quantity {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item-cart-quantity-btn {
    padding: 1.2rem;
}

.item-stock {
    position: absolute;
    top: 125%;
    color: var(--secondary);
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-align: start;
    text-wrap: nowrap;
}

@media screen and (min-width: 768px) {
    .item-stock {
        font-size: var(--font-small);
    }
}

.item-input {
    width: 2.5rem;
    font-size: var(--font-small);
    color: var(--dark-font);
    border: none;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .item-input {
        font-size: var(--font-medium);
    }
}

/*-------------------------SPINNERS-------------------------*/

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 7.5rem;
    height: 7.5rem;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .spinner {
        width: 10rem;
        height: 10rem;
    }
}

/*-------------------------PAGINATION-------------------------*/

.pagination {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pagination-list li {
    background-color: var(--medium-bg);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    padding: .5rem 1rem;
    border: .1rem solid var(--dark-font);
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.pagination-list li:hover {
    background-color: var(--primary);
    color: var(--ligth-font);
}

#pagination-previous-page:hover,
#pagination-next-page:hover {
    background-color: var(--primary);
}

.pagination-list li.active {
    background-color: var(--primary);
    color: var(--ligth-font);
    font-weight: 1000;
    border: .1rem solid var(--medium-bg);
    cursor: not-allowed;
}

#pagination-previous-page.disabled,
#pagination-next-page.disabled {
    background-color: var(--medium-bg);
    color: var(--ligth-font);
    border: .1rem solid var(--medium-bg);
    cursor: not-allowed;
}

/*-------------------------SWAL-------------------------*/

.swal2-popup {
    font-family: var(--base-font);
    font-size: var(--font-xsmall) !important;
    font-weight: 500 !important;
}

@media screen and (min-width: 768px) {
    .swal2-popup {
        font-size: var(--font-small) !important;
    }
}

.swal2-confirm,
.swal2-cancel {
    background-color: var(--primary) !important;
    color: var(--ligth-font) !important;
    font-size: var(--font-xsmall) !important;
    padding: 1rem 3rem;
    border: none !important;
    border-radius: .5rem !important;
    transition: background .2s ease-in-out;
    cursor: pointer !important;
}

@media screen and (min-width: 768px) {

    .swal2-confirm,
    .swal2-cancel {
        font-size: var(--font-small) !important;
    }
}

div:where(.swal2-container) button:where(.swal2-styled) {
    box-shadow: none !important;
}

.swal2-confirm:hover,
.swal2-cancel:hover {
    background-color: var(--secondary) !important;
}

.swal2-input {
    font-size: var(--font-xsmall);
    padding: 1rem .5rem !important;
    border: .2rem solid var(--primary);
    border-radius: .5rem;
    box-shadow: none !important;
}

@media screen and (min-width: 768px) {
    .swal2-input {
        font-size: var(--font-small) !important;
    }
}

.swal2-input:focus {
    border: .2rem solid var(--secondary);
}

.swal2-validation-message {
    background-color: white;
    color: var(--primary);
    font-weight: 500;
}

.swal2-validation-message:before {
    display: none;
}

.swal2-actions {
    gap: 1rem;
}

@media screen and (min-width: 576px) {
    .swal2-actions {
        gap: 3rem;
    }
}