<main class="container">
    <h1>CREAR CUENTA</h1>

    <form [formGroup]="registerForm" (submit)="register()">
        <div class="form-box">
            <label class="form-label">Nombre</label>
            <input class="form-input" type="text" formControlName="name">
            <span class="error" *ngIf="validate('name', 'required')">Campo obligatorio</span>
            <span class="error" *ngIf="validate('name', 'minlength')">Mínimo 3 caracteres</span>
            <span class="error" *ngIf="validate('name', 'maxlength')">Máximo 30 caracteres</span>
        </div>

        <div class="form-box">
            <label class="form-label" for="lastname">Apellido</label>
            <input class="form-input" type="text" formControlName="lastname">
            <span class="error" *ngIf="validate('lastname', 'required')">Campo obligatorio</span>
            <span class="error" *ngIf="validate('lastname', 'minlength')">Mínimo 3 caracteres</span>
            <span class="error" *ngIf="validate('lastname', 'maxlength')">Máximo 30 caracteres</span>
        </div>


        <div class="form-box">
            <label class="form-label">Correo electrónico</label>
            <input class="form-input" type="email" formControlName="email">
            <span class="error" *ngIf="validate('email', 'required')">Campo obligatorio</span>
            <span class="error" *ngIf="validate('email', 'email')">Fomato inválido (Ejemplo: usuario@mail.com)</span>
        </div>

        <div class="form-row">
            <div class="form-box">
                <label class="form-label">Contraseña</label>
                <input class="form-input" type="password" formControlName="password">
                <span class="error" *ngIf="validate('password', 'required')">Campo obligatorio</span>
                <span class="error" *ngIf="validate('password', 'minlength')">Mínimo 6 caracteres</span>
            </div>
    
            <div class="form-box">
                <label class="form-label">Repetir contraseña</label>
                <input class="form-input" type="password" formControlName="repassword">
                <span class="error" *ngIf="validate('repassword', 'required')">Campo obligatorio</span>
                <span class="error" *ngIf="validatePassword()">Las contraseñas no coinciden</span>
            </div>
        </div>

        <div class="form-box-btn">
            <input class="form-btn" type="submit" value="REGISTRARSE">
        </div>
    </form>
</main>